[2021-08-04 08:18] heliping commented on #206
when I use this function to webUI test， only the last testcase can be success, the first one already lost the mouse.

[2021-08-10 10:03] andrea-cassioli-maersk commented on #77
I got the same issue and I noticed that
*  the same test can work nicely if I run it standalone, or get a warning if I run it as part of a larger test suite
* If more than one warning is reported, they are all from the same unit file
* the function marked as not awaited is always some from `unittest`

[2021-08-21 11:46] andyljones commented on #222
Echoing this - I just spent a while figuring out where the heck these 'async generator not closed' warnings were coming from in my test suite, when I couldn't reproduce the behaviour in prod.

[2021-08-24 03:02] JakeUrban opened #225 "atabase is not properly rolled back after async test"

[2021-08-24 03:02] #225 closed

[2021-08-24 04:08] JakeUrban opened #226 "Database is not properly rolled back after async tests"
When using [pytest-django](https://github.com/pytest-dev/pytest-django)'s `pytest.mark.django_db` marker in conjunction with `pytest.mark.asyncio`, any writes to the database are not rolled back when the test completes and affect subsequent tests.

To test, I created a fresh django app, installed `pytest-django` and `pytest-asyncio`, created a simple model, and wrote two tests:

models.py:
[code]

[2021-08-24 04:13] JakeUrban commented on #226
Looks like there is an issue filed on `pytest-django` too: https://github.com/pytest-dev/pytest-django/issues/580
This also could be a django-specific, non-pytest related problem: https://code.djangoproject.com/ticket/32409

[2021-08-31 10:45] PushUpek commented on #217
I think that something is wrong...
pytest: 0.15.1

[code]

and result is:
[code]

but if we change tests order like that:

[code]

we will get warning:
[code]

[2021-08-31 14:45] chrisk314 commented on #211
Hi, I'm also encountering this issue on Ubuntu 20.04. I have a suite of multiple tests. Each time I run any combination of the tests, the last test always fails with this error when cleaning up a session fixture which uses `loop.run_until_complete`. I am observing this problem with both python 3.7 and python 3.8, both on pytest 6.2.4 and pytest-asyncio 0.15.1.

[2021-08-31 16:55] AIGeneratedUsername commented on #29
**pytest-asyncio 0.15.1** the problem is still here.

I can not use  `asyncio.get_event_loop().run_until_complete(function(*args, **kwargs))` in my tests.

I've tried @lars-tiede workaround, but I get "RuntimeError" "attached to a different loop" exception. And I tried @Tinche workaround, but I get `RuntimeError: Event loop is closed`

[2021-09-02 06:32] AIGeneratedUsername commented on #211
**pytest-asyncio 0.15.1**
**Python 3.9**
I always get the following at the end of tests execution:

[code]
----------

Another problem is that redefining `event_loop` with `scope="module"`:
[code]
leads to the error:
[code]
when I run my tests.

[2021-09-06 20:42] #213 closed

[2021-09-14 16:40] seifertm commented on #211
This could be related to an ordering issue with the `event_loop` and the other fixtures.

@chrisk314 @AIGeneratedUsername Could either of you please run the problematic tests with `--setup-show` and post the output?

[2021-09-20 11:39] aklajnert opened #227 "Testing with a different event loops"
I have a use case where I need to change the default event loop on Windows. The recommended approach is to override the `event_loop` fixture, which works fine.
My problem is that I still want to test how my code works with another event loop (the real default, that is not my default).

There is no easy way to do that, I came up with a solution that is more a hack than something I'd like to have in

[2021-10-15 14:58] DJRickyB opened #229 "release 0.16.0"
Hi! Can we anticipate a 3.10-compatible release of pytest-asyncio in the near future, given 3.10.0 released Oct 4th?

[2021-10-15 16:05] Tinche commented on #229
Does the current release not work? I can get on this soon.

[2021-10-15 17:44] DJRickyB commented on #229
well, it depends on your definition of "not working"...

Our CI fails due to the deprecation warnings fixed in #212.  The library works but we'd prefer not to support 3.10 until we can get clean CI, without ignoring warnings

[2021-10-15 23:30] #229 closed, assigned to nobody

[2021-10-16 19:33] mgorny opened #230 "Missing tag for 0.16.0 release"
The pypi project page lists 0.16.0 release. However, no matching tag can be found on GitHub. Could you please push it?

[2021-10-16 22:55] Tinche commented on #230
Done!

[2021-10-16 22:55] #230 closed

[2021-10-18 17:28] kriek commented on #219
Can we have the PR merged and if possible shipped in a release?

[2021-10-19 07:19] pquentin commented on #229
@Tinche Thanks a lot for the release! I work with @DJRickyB, and we now use pytest-asyncio 0.16.0.

This helped us notice that the deprecation warning were actually coming from our own tests, which makes sense as #212 only fixed deprecation in pytest-asyncio's test suite. So the release was not needed (sorry!), but did help us (thanks!).

[2021-10-20 08:48] gryevns opened #231 "Shared tests with hypothesis throws an Event loop is closed error"
When you have a class containing some shared tests (e.g. for contract testing between several implementations of an interface), and use both hypothesis and pytest-asyncio on the shared tests, pytest will raise an error when running the test for the second time.

https://github.com/HypothesisWorks/hypothesis/issues/3122

### Example
[code]

[code]
### Environment
[code]

### Workaround
If we modify

[2021-11-11 11:57] AIGeneratedUsername commented on #231
I've tried to wrap all my fixtures with the `with contextlib.suppress(RuntimeError):` to at least temporary hide the error, but I still get an exception:
[code]

[2021-11-24 22:43] peniqliotuv commented on #67
ditto

[2021-12-03 11:54] podusowski commented on #222
+1

Got a bunch of "Task was destroyed but it is pending!" because tasks weren't allowed to handle cancellation and finish.

[2021-12-03 12:45] Tinche commented on #222
Yeah, this seems like a good change to make. I'll take a PR or implement this myself in the next couple of weeks.

[2021-12-08 06:31] Askaholic commented on #171
Revisiting this again. So the reason why redefining the `event_loop` fixture didn't work for me before was that my project uses `aiomysql` which until recently was passing around the event loop through the deprecated arguments. However, this has finally been fixed in this PR https://github.com/aio-libs/aiomysql/pull/631. I tried the proposed solution of redefining the `event_loop` fixture, and it

[2021-12-21 11:12] RonnyPfannschmidt opened #232 "helping the maintenance bus factor"
It seems that maintenance has come to a halt,
in this issue i want to prepare communicating current factors and/or enable a call for help

the goal being documenting the current state,
so people have a idea what to expect while the shortage of committable volunteer time means  less happens
as well as organizing additional volunteers that can help the process.

CC @pytest-dev/pytest-asyncio-admin

[2021-12-21 11:24] Tinche commented on #232
It's true, since my time is spread between a lot of other projects at this point I essentially only make sure this plugin works on new Pythons.

Note that I actively use the plugin on a daily basis, so despite the amount of issues I know the plugin actually works. But I would welcome some qualified help, of course.

[2021-12-21 11:45] RonnyPfannschmidt commented on #232
@Tinche its great to know that you are indeed a regular user and the minimum is secured

as for qualified help - would it be ok if i did a call for help using the pytestorg twitter account nd may i mention you and/or would you like to do the call for help so we can add reach to it?

[2021-12-21 11:47] Tinche commented on #232
Ugh I think if we do a call for help on Twitter we will get a ton of unqualified help, which will be even more work. Can we get some pytest folks in first? So maybe through the mailing list?

[2021-12-21 11:50] RonnyPfannschmidt commented on #232
yes we can, i agree that the qualification filtering can be quite a pain

do you want to try to get something out to the pytest-dev ml or would you like for me to draft something up between the days

[2021-12-21 11:53] Tinche commented on #232
Would appreciate assistance ;)

[2021-12-21 12:03] RonnyPfannschmidt commented on #232
i'll spend time on this between christmas and the new year
i wont mind anyone beating me to it tho ;P

[2021-12-31 13:25] RonnyPfannschmidt commented on #232
initial email to pytest-dev is out

[2022-01-03 11:30] asvetlov opened #235 "Use a loop proxy for better flexibility"
[aioloop-proxy](https://github.com/aio-libs/aioloop-proxy) provide a proxy instance that is fully compatible with `asyncio.AbstractEventLoop` but allows to cooperate of multiple nested proxies at the same time.

From pytest-asyncio point of view, a session-scope fixture can use a session-level loop proxy that can cooperate with module-level, class-level, and function-level ones providing good test

[2022-01-03 14:54] asvetlov commented on #232
Well, I can help with the maintenance.
I use pytest-asyncio at my daily job and maintain asyncio itself as a part of CPython.

[2022-01-03 15:03] RonnyPfannschmidt commented on #232
@Tinche in addition to @asvetlov , @seifertm also reached out on the ml

i haven't yet found the time to look deeply into them, but at first glance it looks like both of them bring good experience

 do you already have some rough idea of them so we can cut it short, else i'll take a deeper look mid week (my initial impression is good)

[2022-01-03 23:45] Tinche commented on #232
I would be very glad to have @asvetlov and @seifertm as fellow maintainers.

As a first step: do you folks have any PRs yourselves that I should review ASAP? If yes I will do so.

As a second step: I will defer to your judgement on what PRs to merge in and what issues to close/not close.

After a while when we've built up a working relationship, I'm happy giving you folks commit rights here on Git

[2022-01-04 08:59] asvetlov commented on #232
I have no my PRs.
There is a pull request from @seifertm #192 which looks good to me.

[2022-01-04 12:09] #168 closed

[2022-01-04 12:09] #188 closed

[2022-01-04 17:11] AIGeneratedUsername commented on #224
@heliping Could you please add **pyppeteer**, **Python**, **pytest**, **pytest-asyncio** versions to your message?

[2022-01-05 11:51] seifertm commented on #235
This sounds interesting! As you mentioned in another comment the loop proxy could address many things related to loop teardown and orphaned tasks, because the context manager takes care of this when it exits. aioloop-proxy also includes an `advance_time` method, which has been proposed in #113.

I played around with aioloop-proxy a bit. A large number of tests already work when replacing a couple

[2022-01-06 00:04] asvetlov commented on #235
From my point of view, the plugin should support two modes.
1. In *compatible* mode the `event_loop` fixture works as-is; it is crucial for the sake of backward compatibility.
2. The *proxy* mode has no `event_loop` but works differently.

An overridable session-scope fixture exists that returns a *root loop instance*. An user can override this fixture in `conftest.py` to start a non-standard even

[2022-01-06 12:30] asvetlov commented on #232
Reviewed a bunch of existing PRs, skipped pull requests that are not bad for me but maybe should be fixed differently.

I would say that missing write access prevents me from trying to resolve merge conflicts on GitHub.

The next stage should be issue triaging.

[2022-01-06 13:13] asvetlov commented on #19
I suggest closing the issue.
The idea is not bad but I have a feeling that in most cases no bare TCP client/server is needed but something that implement a concrete protocol, e.g. HTTP, Redis, or PostgreSQL.
Perhaps the request is out of the scope of `pytest-asyncio`.

[2022-01-06 15:32] asvetlov commented on #222
Can be solved as a side-effect of https://github.com/pytest-dev/pytest-asyncio/issues/235

[2022-01-06 15:42] asvetlov commented on #187
asyncio-compliant event loop should support both `run_forever()` and `run_until_complete()`.

Actually, asyncio itself implements `run_until_complete()` on top of `run_forever`, [40 lines of code](https://github.com/python/cpython/blob/main/Lib/asyncio/base_events.py#L601-L637)

I think the custom loop should be modified, not pytest-asyncio.

@Tinche I suggest closing the issue.

[2022-01-06 15:43] asvetlov commented on #198
For what purpose?

[2022-01-06 15:47] asvetlov commented on #114
Python 3.8+ doesn't have this problem with the default configuration.
For 3.7 we can consider backporting of `asyncio.ThreadedChildWatcher`, a champion is welcome!

[2022-01-06 15:50] asvetlov commented on #55
`ensure_future()` was introduced by Python 3.5.

I suggest closing the issue.

[2022-01-06 17:15] Tinche commented on #232
@asvetlov thank you very much with your help!

@nicoddemus can you add @asvetlov to the pytest-asyncio-admin group?

[2022-01-06 17:25] #19 closed

[2022-01-06 17:27] #222 closed

[2022-01-06 17:28] #187 closed

[2022-01-06 17:31] nicoddemus commented on #232
I can, but I made you maintainer of the team, please check if you can add @asvetlov yourself.

[2022-01-06 17:36] Tinche commented on #232
@nicoddemus It says he's 'not a member of this organization'. Do we need to add him to pytest first?

[2022-01-06 17:37] #55 closed

[2022-01-06 17:43] nicoddemus commented on #232
Hmm seems like it, sent an invitation:

![image](https://user-images.githubusercontent.com/1085180/148426826-8f914bb8-6dd2-4043-82cd-93b3c39cde82.png)

[2022-01-06 19:25] seifertm commented on #211
None of the participants in this issue have reacted to requests for more information. @Tinche I suggest closing this issue.

This issue was filed for pytest-asyncio 0.15. Please upgrade to v0.16 and check whether the experienced issues persist. If yes, feel free to reopen this issue, preferably providing a reproducible example.

[2022-01-06 20:26] AIGeneratedUsername commented on #211
+1 for closing this issue. I am not an author, so I can not do this.

Most likely my error was because of the Motor package (it is only my assumption).

[2022-01-06 20:49] #178 closed

[2022-01-06 20:58] #211 closed

[2022-01-07 09:23] seifertm commented on #195
At the time of writing pytest-asyncio is compatible with `flaky` and `hypothesis`. I think that compatibility with `pytest-bdd` is a reasonable feature request.
@Tinche Does it make sense to label this issue accordingly? I think labels would help keeping track of triaged issues. I'm thinking of the labels `feature` and `interop`, but I'm open to other solutions.

[2022-01-07 09:31] asvetlov commented on #218
Sorry, I have no idea what is broken in your case.
Definitely, the problem is out of the project scope. pytest-asyncio doesn't implement pytest assertion hooks, it cannot break them.

[2022-01-07 09:31] #218 closed

[2022-01-07 11:04] asvetlov commented on #108
Nothing to do here, please use `unittest.mock.AsyncMock`.

[2022-01-07 11:04] #108 closed

[2022-01-07 11:32] Tinche commented on #195
@seifertm Added the 'feature' label!

[2022-01-07 11:33] #231 closed

[2022-01-07 11:35] Tinche commented on #232
@nicoddemus can you do the same for @seifertm please?

[2022-01-07 12:02] RonnyPfannschmidt commented on #232
i did it

[2022-01-07 16:45] seifertm commented on #204
Thanks for the bug report and for narrowing down the issue to different `pytest-asyncio` versions!

We're currently trying to get an understand what issues are still relevant and which of them are obsolete.
I just re-tested your example and the issue persists with `pytest-asyncio-0.16`. The following code gives an error:
[code]

whereas the same code without the asyncio mark is successful:
[code]

[2022-01-07 17:03] seifertm commented on #206
@SilenceHe your is absolutely correct. This is the intended behavior. as @denolehov explained the individual test cases do not run concurrently. This is by design and it doesn't look like it's going to change anytime soon. Pytest-asyncio only allows you to make `async def` test cases and to call `await` in test functions.

If you need things to run in parallel within the same test case, you need t

[2022-01-07 17:03] #206 closed

[2022-01-07 17:16] seifertm commented on #203
Thanks for the report and for the great examples! The issue is still present in pytest-async v0.16.

`asyncio.run` cleans up any async generator functions before exiting (see #222). This is why you don't see the "Task pending error" when running your second example. `pytest-asyncio` does no such thing when the `event_loop` fixture is torn down, resulting in the error you describe.

Issue #222 prop

[2022-01-07 17:16] #203 closed

[2022-01-08 12:14] asvetlov commented on #179
Sorry, I cannot find what task is not awaited without a reproducible example.

[2022-01-08 12:16] asvetlov commented on #224
Sorry, the bug report has no reproducible example.

[2022-01-08 12:17] #207 closed

[2022-01-08 12:18] asvetlov commented on #207
Congratulations!

[2022-01-08 12:37] asvetlov commented on #217
@PushUpek in your example the warning source is a regular `def test_method(...):` test that is not handled by pytest-asyncio plugin.

[2022-01-08 12:37] #217 closed

[2022-01-08 12:40] asvetlov commented on #103
Outdated

[2022-01-08 12:40] #103 closed

[2022-01-08 12:41] #109 closed

[2022-01-08 12:46] asvetlov commented on #80
pytest-asyncio operates with async tests only.
The async test always have an event loop available by both `asyncio.get_event_loop()` and `asyncio.get_running_loop()` calls.
There is no need to explicitly call `asyncio.set_event_loop()`, it is done by `loop.run_untile_complete()` already.

[2022-01-08 12:46] #80 closed

[2022-01-08 12:46] #66 closed

[2022-01-08 12:50] asvetlov commented on #119
pytest has no *official* hook for overriding `setup_*()`/`teardown_()`.
Using hacks based on internal API access is dangerous and error-prone.

I think we should not touch it.

[2022-01-08 12:50] #119 closed

[2022-01-08 12:58] asvetlov commented on #29
`asyncio.get_event_loop().run_until_complete(function(*args, **kwargs))` doesn't work, sure.

The test should depend on `event_loop` fixture explicitly and use the given loop instance.
BTW, using `asyncio.get_event_loop()` on the top-level is deprecated starting from Python 3.10

[2022-01-08 12:58] #29 closed

[2022-01-08 13:01] #79 closed

[2022-01-08 17:41] #124 closed

[2022-01-08 17:45] asvetlov commented on #61
Done by #125 (use `asyncio_mode=auto` for autodiscovering)

[2022-01-08 17:45] #61 closed

[2022-01-08 17:50] asvetlov commented on #86
Sorry, I don't see any `pytest-asyncio` mention in the code snippet.

Looks like the issue is not related to asyncio testing.

[2022-01-08 17:50] #86 closed

[2022-01-08 17:51] asvetlov commented on #232
We can close it I guess.

[2022-01-08 17:51] #232 closed

[2022-01-11 13:58] #219 closed

[2022-01-11 14:09] asvetlov opened #248 "Release 0.17"
I think we handled all low-hanging fruits.

I suggest creating a new pytest-asyncio 0.17 release.

Later I want to continue my work on future improvements, but now we have important features implemented.

The release is crucial also as a part of the preparation for working pytest-asyncio and pytest-aiohttp together.
I need a new pytest-asyncio release to raise a warning by pytest-aiohttp if the ca

[2022-01-11 14:10] Tinche commented on #248
@asvetlov great, thanks so much. I agree with GitHub Actions, and I've invited you to be a co-owner on PyPI.

[2022-01-11 14:18] seifertm commented on #248
Regarding automatic deployments: I just picked up #37 which intended include `setuptools_scm` to enable automatic deployments based on git tags. Is the PR still relevant for what you intend to do?

[2022-01-11 14:35] asvetlov commented on #248
@seifertm great idea!
Declarative setup requires a slightly different configuration placed in `pyproject.toml`: https://github.com/pypa/setuptools_scm#pyprojecttoml-usage

Otherwise, I completely agree, SCM simplifies the release process a little.

[2022-01-11 20:29] seifertm opened #249 "Update codecov/codecov-action to v2"
CI is currently using `codecov/codecov-action@v1` to upload coverage data. Version 1 of the GH action will [stop working at 2022-02-01](https://github.com/codecov/codecov-action/blob/260aa3b4b2f265b8578bc0e721e33ebf8ff53313/README.md).

We should upgrade to `codecov/codecov-action@v2`

[2022-01-12 07:37] asvetlov commented on #249
Updated

[2022-01-12 07:37] #249 closed

[2022-01-13 11:20] phlax commented on #248
probably an easyfix but the latest version is throwing an error in some of my tests

[code]

[2022-01-13 11:25] phlax commented on #248
adding the config to pytest.ini fixed the problem, but im wondering why the default didnt work

[2022-01-13 11:36] asvetlov commented on #248
@phlax correct

[2022-01-13 11:36] asvetlov commented on #248
pytest-asyncio 0.17 is released

[2022-01-13 11:36] #248 closed

[2022-01-13 11:46] Tinche commented on #248
Great job @asvetlov @seifertm !!

[2022-01-13 12:05] asvetlov commented on #248
Thanks!

[2022-01-13 15:51] dvarrazzo opened #256 "Unclosed event loops warning from pytest-asyncio 0.17.0 on Windows"
Hello,

after updating to pytest-asyncio 0.17.0, and setting `asyncio_mode=auto` in the config, we are seeing asyncio tests failing because warnings are generated on Windows.

See [this test run](https://github.com/psycopg/psycopg/runs/4805258822?check_suite_focus=true) for the errors.

Is there anything wrong we are doing or is it a regression? [This test configuration](https://github.com/psycopg

[2022-01-13 16:03] RobertCraigie commented on #198
@asvetlov For https://github.com/RobertCraigie/prisma-client-py I use strict mode with [pyright](https://github.com/microsoft/pyright) which means that the libraries I use must provide type hints.

This wasn't an issue for me as I only used `pytest-asyncio` though `pytest` until the recent 0.17.0 release as I now need to use `async_mode = strict` which means I need to use the `pytest_asyncio.fixtu

[2022-01-13 16:06] asvetlov commented on #256
Hey!
Could you please call `asyncio.set_event_loop_policy()` and `uvloop.install()` outside of the `event_loop` fixture.
`@fixture(scope="session", autouse=True)` could be a good place for such things.

[2022-01-13 17:04] madkinsz opened #257 "Event loop shutdown failures on 0.17"
We use the following to define a session scoped event loop (per https://github.com/pytest-dev/pytest-asyncio/issues/68)

[code]

After upgrading to 0.17, our test suite fails with

[code]

Modifying the fixture to set the loop with the policy at the end resolves the error

[code]

Leaving the loop open or setting the loop with the policy before yielding does not resolve the error.

I'm not sure wh

[2022-01-13 17:14] dvarrazzo commented on #256
Almost! Setting up a session failed when [the first test of the run is async](https://github.com/psycopg/psycopg/actions/runs/1693694255) (tests run order is randomized). The direction was right though.

The problem is solved my moving the initialisation code into `pytest_sessionstart()` instead.

Thank you very much!

[2022-01-13 17:14] #256 closed

[2022-01-13 17:21] asvetlov commented on #256
You are welcome!
Thank you for `psycopg3` BTW.
This project makes `aiopg` obsolete, we can archive it and suggest using the well-supported upstream :)

[2022-01-13 18:20] TheKevJames opened #258 "asyncio_mode=auto does not support hypothesis without marker"
The new `asyncio_mode=auto` mode does not support hypothesis markers. I'm assuming this is an issue on the asyncio side, since `strict` mode continues to work, but please let me know if I should post this to `hypothesis` instead!

I think @asvetlov and @seifertm are the relevant folks to ping for this.

Reproduction case:

<details>
<summary>pytest.ini</summary>

[code]
</details>

<details>
<summ

[2022-01-13 19:28] seifertm commented on #257
@madkinsz Sorry to hear the new release is causing issues. The offending line was introduced in v0.17.0.

Your fixture setup looks correct to me and I cannot reproduce the issue. What's the output when adding `--setup-show` to the `pytest` call? Could you provide a reproducible example for the error you're getting?

[2022-01-13 19:56] seifertm commented on #258
Thanks for the report! I think pytest-asyncio is the correct place to file this issue.

The `--asyncio-mode=auto` marks all async functions with the `asyncio` mark during the collection phase. However, when pytest collects the Hypothesis test, the `@given` decorator has already been applied and the function is no longer a coroutine.

[2022-01-13 19:59] asvetlov commented on #198
Regarding `@fixture` -- you are right. The type info will be added soon.

For other parts the benefit is not so obvious.
`pytest` itself is in the middle of adding type information, it has very many *private* types now. I consider re-using these underscored types as a bad practice. Later the situation will be improved, sure. I did the same transition for aiohttp 3.-4 years ago :)
Moreover, types f

[2022-01-13 20:02] madkinsz commented on #257
Thanks for the quick reply.

Here's a repository with an MRE: https://github.com/madkinsz/pytest-asyncio-257

It looks like the issue is calling `asyncio.run(...)` in one of the tests.

e.g.
[code]

[code]

[2022-01-13 20:10] TheKevJames commented on #258
Hmm, yeah, that makes sense. One thing which confuses me a bit on that, though, is that it seems like both of the following work, ie. that order does not matter between the decorators:
[code]

[code]

I haven't looked at pytest-asyncio code at all, but coming strictly from an understanding of Python it seems to me that the latter case (eg. the asyncio mark wrapping the hypothesis decorator) should

[2022-01-13 20:17] RobertCraigie commented on #198
If I'm understanding correctly, you're talking about a situation like this?

[code]

If so that is sadly not possible with pyright. Fixtures have to be explicitly annotated:

[code]

Pyright also doesn't have a plugin system so it wouldn't be possible to support something like that :(

It does however support recursive types and is considerably faster :)

[2022-01-13 20:50] seifertm commented on #258
@TheKevJames There is no "natural" or correct order of the `@pytest.mark.asyncio` and `@given` decorators. Therefore, both `pytest-asyncio` and `hypothesis` try to be smart and allow both orderings.

[2022-01-13 21:02] seifertm commented on #257
Great example, thanks! It seems that `asyncio.run` [replaces the event loop](https://github.com/python/cpython/blob/93d90871d216625b8d9db0fa59693953353d19ae/Lib/asyncio/runners.py#L39-L52) from the fixture. When `asyncio.run` finishes, it sets the current event loop to `None`. This causes the fixture teardown to fail.

[2022-01-13 21:13] asvetlov commented on #258
An interesting use case, need to investigate.
I know what the `hypothesis` tool is but never is it personally and never dug into `@given` decorator implementation.

[2022-01-13 21:20] madkinsz commented on #257
Of course `asyncio` clobbers the event loop 😮‍💨

Interestingly though, this worked fine in the previous version and all of our tests are working as intended. Perhaps if there's not an event loop `pytest-asyncio` should just pass during teardown?

[2022-01-13 23:10] Tinche commented on #198
I think just annotating the fixture manually in the test is the way to go. The type checker would need to understand pytest's scoping rules, that just seems too much.

[2022-01-13 23:27] madkinsz commented on #257
In https://github.com/madkinsz/pytest-asyncio-257/blob/main/test_event_loop.py I show that the session scoped loop is not actually clobbered and async tests share the same loop correctly. I'm definitely not familiar with the implementation details of pytest, but it seems like the behavior is correct and the only issue is that the loop is not present when fixture teardown occurs.

[2022-01-14 07:55] asvetlov commented on #198
Manual annotations are what I have at my daily job (we have about 125000 lines of pytest-based tests).
Trivial fixtures are easy but fixture factories are tedious.

[2022-01-14 09:12] #258 closed

[2022-01-14 13:12] cnaaq opened #262 "Wrong minimum version of pytest"
I am using `pytest` v5.4.3 and I receive the following error when executing test cases:
[code]

In pytest v5.4.3 the `string` type is not yet added to the assertion, thus the error.

A bit more detail:

The `pytest-asyncio` `plugin` calls the `addini` method like this:

[code]

whereas the `addini` method (in `_pytest/config/argparsing.py`) looks like this (in v5.4.3):

[code]

So, I think the min

[2022-01-14 13:26] asvetlov commented on #262
Good catch, thanks for the report!

[2022-01-14 13:39] tkukushkin opened #263 "Expose default value for mode by hook"
We have hundreds of microservices that use our plugin to avoid writing an extra boilerplate in each service's repository. We want to set `auto` mode to all services by this plugin. If you expose the default value as hook, our plugin will be able to change it for all services.

Example from documentation: https://docs.pytest.org/en/latest/how-to/writing_hook_functions.html#using-hooks-in-pytest-add

[2022-01-14 13:52] asvetlov commented on #263
Interesting idea.
How should API look in your mind?

[2022-01-14 13:56] tkukushkin commented on #263
Something like this:
[code]

[2022-01-14 14:06] asvetlov commented on #263
How is it different from already supported approach:
[code]
???

[2022-01-14 14:10] tkukushkin commented on #263
As I understand, `addinivalue_line` supports only options with multiple values, like `filterwarnings`.

With your code pytest crashes with such traceback:

[code]

[2022-01-14 14:26] asvetlov commented on #263
Aha, I see.
Another alternative could be `config.option.asyncio_mode = 'auto'`

[2022-01-14 14:30] tkukushkin commented on #263
Wow, that really works, didn't know about `config.option`. Thanks!

[2022-01-14 14:30] #263 closed

[2022-01-14 15:15] cnaaq commented on #262
Thanks for the quick response and the PR :)

[2022-01-14 16:20] TheKevJames commented on #258
@seifertm really appreciate the fast turnaround on this -- thank you!

[2022-01-14 20:40] PerchunPak opened #265 "--asyncio-mode=auto don't find static tests"
Full log
[code]
P.S. My computer is 64bit, I don't know why it is thinking that 32.

[2022-01-15 11:29] #257 closed

[2022-01-15 12:49] asvetlov commented on #265
Interesting. How can I reproduce it locally?

[2022-01-15 12:59] #198 closed

[2022-01-15 15:15] PerchunPak commented on #265
I don't really know, try this commands with my project.
[code]
Then rename or delete `pytest.ini` and `tests/pytest.ini`, after it set Postgres credentials to config.yml or make virtual environment﻿ variable with name `PINGERBOT_POSTGRES`
After all of it, you can finaly run tests.
[code]

*P.S. I tried create a simple test project, but it works fine, so I give my prod project.*

[2022-01-16 08:38] seifertm commented on #94
Both the LICENSE file and tests are packaged in pytest-asyncio-0.17.0. I haven't checked older releases, but I'm closing this issue as solved.

[2022-01-16 08:38] #94 closed

[2022-01-16 08:57] seifertm commented on #82
All participants in this issue could either resolve their problem or didn't provide additional information. I don't think there's much we can about this without a reproducible example.

Cross-referencing this issue with #226 which describes problems with database transaction rollback in Django. The discussion there points to issues in pytest-django and async tests in Django.

I'm closing this issu

[2022-01-16 08:57] #82 closed

[2022-01-16 09:02] seifertm commented on #100
@diefans Thanks for the report!

I couldn't reproduce your issue with pytest-asyncio-0.17.0, so I am closing this issue.

If you still experience problems, please reopen this issue or file a new one. We always appreciate bug reports :)

[2022-01-16 09:02] #100 closed

[2022-01-16 09:22] seifertm commented on #91
@amit-traiana thanks for the report and thanks @rmorshea for debugging the issue :)

There were a couple of issues related to this behaviour. #235 proposes a solution for this. I'm closing this issue to direct the discussion to #235.

[2022-01-16 09:22] #91 closed

[2022-01-16 09:27] seifertm commented on #235
Issue #91 is yet another problem that caused by the `event_loop` fixture not cleaning up existing tasks. It seems like a number of people are affected by this.

@asvetlov @Tinche Would it make sense to clean up open tasks before closing the current loop? This could server as an intermediate solution until we integrate `aioloop-proxy`? It's not as nice as using, but it would be a smaller step in th

[2022-01-16 09:37] seifertm commented on #139
@vanyakosmos I was also unable to reproduce your issue with pytest-asyncio 0.17.0 and uvloop installed. I'm closing this issue for now.

Please try and upgrade to a recent pytest-asyncio version and retest. If you're still experiencing problems, feel free to reopen this issue.

[2022-01-16 09:37] #139 closed

[2022-01-16 09:50] seifertm commented on #98
@RouquinBlanc Thanks for the report and the minimal example!

I cannot reproduce the issue using pytest-asyncio 0.17.0. I consistently get 100 successful tests on my Linux machine. Possibly the issue has been resolved.

If you continue to experience problems with a more recent version of pytest-asyncio feel free to reopen this issue.

[2022-01-16 09:50] #98 closed

[2022-01-16 10:02] seifertm commented on #224
@heliping Judging from #91 pyppeteer uses asyncio tasks for clean up purposes. The default `event_loop` fixture of pytest-asyncio creates a new loop for each of your test cases. Issue #91 shows that this can cause the cleanup to fail in some cases. You can try using a session scoped `event_loop` fixture and see if it solves your problem:
[code]

As @AIGeneratedUsername and @asvetlov already mentio

[2022-01-16 10:02] #224 closed

[2022-01-16 11:51] asvetlov commented on #235
Good question!
My plan was to make 0.17.1 bugfix release and start integrating aioloop-proxy

[2022-01-16 12:12] asvetlov commented on #265
File `tests/test_metods_for_commands.py`, that generates a warning in the first message, doesn't exist in your project.
Sorry, it doesn't look like an introducer :(

[2022-01-16 13:23] PerchunPak commented on #265
[Here this file on github.](https://github.com/PerchunPak/PingerBot/blob/rewrite/tests/test_metods_for_commands.py)
Check if you switch to branch `rewrite`

[2022-01-16 13:27] PerchunPak commented on #265
Also I forgot say, before run tests, you need delete `@mark.asyncio` everywhere.

[2022-01-16 18:41] rmorshea commented on #91
Thanks! @seifertm

[2022-01-16 20:51] #262 closed

[2022-01-17 01:53] RobertCraigie opened #267 "Regression preventing non python pytest test items"
In `v0.17.1` the `pytest_runtest_setup` function was modified from:

[code]

To this:

[code]

Which will then cause an error when non-python test items are collected, for example this CI run: https://github.com/RobertCraigie/prisma-client-py/runs/4835031754?check_suite_focus=true

[code]

It should be noted that these custom pytest items have no interaction with `pytest-asyncio`, they are simply

[2022-01-17 15:10] #267 closed

[2022-01-17 15:16] #73 closed

[2022-01-18 12:34] bphillips-exos opened #271 "0.17.* issues with tornado loop started by dask distributed"
Hello, the following test fails on teardown. I believe this is due to the tornado IOLoop that is started when the cluster is initialized. This example works on 0.16.0 and fails when upgrading to 0.17.0+.

[code]

[code]

Versions: (reproduced on multiple versions of dask / distributed)
* dask 2022.1.0
* distributed 2022.1.0
* pytest 6.2.5
* pytest-asyncio 0.17.2

[2022-01-18 12:41] bphillips-exos commented on #271
I traced the issue to this [change](https://github.com/pytest-dev/pytest-asyncio/commit/a6758a1c55c71e2a229905ee1b2ba9d7e8010b69) and confirmed that this [update](https://github.com/pytest-dev/pytest-asyncio/commit/0a3328f5fced1568b60fdd33e66937b7bbca8922) does not resolve.

[2022-01-18 15:13] eirikur-grid commented on #257
I am seeing something similar with 0.17.2. This happens after the last test has been run.
[code]

We also override the event_loop fixture like so:
[code]

[2022-01-18 16:32] eirikur-grid commented on #257
OK, so I found out how to fix this. A our folder structure for the tests is as follows
[code]
Our `def event_loop` fixture was located under `/tests/integration/conftest.py`.  Moving it to `/tests/conftest.py` solved the issue.

[2022-01-18 17:21] kloczek opened #273 "0.17.2: pytest is failing when `pytest-asyncio` is installed"
Accidentally testing `setuptools_scm` in env with installed `pytest-asyncio` I've tupmed on `pytest-asyncio` issue
[code]

[2022-01-18 17:25] asvetlov commented on #273
It is a warning about the deprecated mode that is mixed with `filterwarnings = error`.
Relax the warning filter or set `asyncio_mode` please.

[2022-01-18 17:25] #273 closed

[2022-01-19 11:23] asvetlov commented on #271
I don't see a source code but looking at the reported error I can suggest that *function-scope* (default) `event_loop` fixture was used.
The *session-scoped* loop probably can solve the issue.

[2022-01-19 13:13] bphillips-exos commented on #271
Hi @asvetlov, there is source code to reproduce in the first code block. Using a session scoped loop did indeed solve the issue.

[2022-01-20 07:22] asvetlov commented on #76
Fixed by pytest-asyncio 0.17 and pytest-aiohttp 1.0

[2022-01-20 07:22] #76 closed

[2022-01-20 11:29] MetRonnie commented on #257
I have a similar issue - getting `RuntimeError: There is no current event loop in thread 'MainThread'.` But in my case it seems to be caused by a conflict with pytest-tornasync. Not sure why considering the project I'm running the tests in doesn't use it. But it happened after I removed `@pytest.mark.asyncio` decorators when using `asyncio_mode = auto`

[2022-01-20 14:29] seifertm commented on #257
@MetRonnie After a brief look at `pytest-tornasync` it seems the plugin has a similar behaviour to `pytest-asyncio` with `async_mode=auto`: It tries to run all tests that are coroutines in a `tornado.IoLoop`. When both plugins try to do the same thing, unexpected things happen.

If your project is using both `pytest-asyncio` and `pytest-tornasync`, you should stick with `asyncio_mode=strict`.

[2022-01-20 15:18] MetRonnie commented on #257
@seifertm Thanks, in the end seeing as the project does not have `pytest-tornasync` as a dependency, we were instead able to do
[code]
in `conftest.py`

[2022-01-20 19:51] asvetlov commented on #271
Awesome! Closing, the session-scope `event-_loop` is the solution.

[2022-01-20 19:51] #271 closed

[2022-01-21 08:36] spacemanspiff2007 opened #274 "RuntimeError: Event loop is closed after upgrade from 0.16"
Hello,

I have an application that is both asyncio but also uses a ThreadPoolExecutor to run functions from the user.
Since I need to schedule Tasks from the thread pool, I use a global variable in my module which holds my event loop and set it up when the application starts. I then use this variable to schedule Tasks thread save (if necessary).

After the upgrade to 0.17.2 however all my tests fa

[2022-01-21 09:42] seifertm commented on #274
Thanks for reaching out! By default `pytest-asyncio` provides one event loop per test. In order to ensure isolation between test cases a fresh event loop is provided for each test case and cleaned up when the test case finishes.

In your example you override the `event_loop` fixture, because you want to reuse a global variable, but the `scope` is set to `function`. That means pytest-asyncio will t

[2022-01-21 10:39] asvetlov commented on #227
I think the proposed approach is viable if splitting tests into multiple files is not an option.
`autouse=True` is not required though.

[2022-01-21 11:19] spacemanspiff2007 commented on #274
Thank you for your very quick reply!
I changed the scope to ``session`` and it works as expected.

Do you have any good hint or tip how I can still achieve proper test isolation or how I can change my application?

[2022-01-21 11:24] seifertm commented on #274
Glad to hear the session scope is working. I'll close the issue, if you don't mind.

Is there any way you can create a new instance of `HABApp.core.const.loop` rather than using a global variable? In that case, you could make the `event_loop`fixture function scoped again and each test would have their own loop and run in isolation from the others.

[2022-01-21 11:24] #274 closed

[2022-01-21 11:33] aklajnert commented on #227
Do you mean that piece of code I've put into the issue or one of the solutions I've proposed below?
My snippet is just an ugly hack and I believe that it can be done a bit better with one of the solutions I proposed.
I can also try to submit a PR with the implementation for a chosen solution.

[2022-01-21 11:39] spacemanspiff2007 commented on #274
Yes sure - thank you for your help!

---

I can create new event loop instances for testing.
However in my code I also use ```from HABApp.core.const import loop``` to import the loop variable which will still point to the old closed loop and thus some parts of the code will still fail.
Currently I only can think of two solutions:
- always use the absolute path ( ```HABApp.code.const.loop```) to ge

[2022-01-21 11:59] seifertm commented on #274
I think I understand. You're creating a specifically configured loop in [openHAB](https://github.com/spacemanspiff2007/HABApp/blob/744b928af1951f5451d07d11dac21bfe3d352723/src/HABApp/core/const/loop.py) and your code is referencing it via module imports.

Rather than putting a fixed event loop into `HABApp.code.const.loop`, you could register a [custom event loop policy](https://docs.python.org/3/

[2022-01-21 12:53] spacemanspiff2007 commented on #274
Perfect summary. However the problem is not with creating new event loops:
I have a thread pool and some functions can be called from an async context or from within the thread pool.
So some Tasks have to be created with [run_coroutine_threadsafe](https://github.com/spacemanspiff2007/HABApp/blob/744b928af1951f5451d07d11dac21bfe3d352723/src/HABApp/core/lib/pending_future.py#L39) which then needs to

[2022-01-21 13:17] seifertm commented on #274
Hmm, I assume you want to have a single event loop for all threads, not one loop for each of them. Then I don't see any way of getting around the global reference at the moment.

I don't think it's necessarily bad to have an `event_loop` fixture with broader scope. That's why pytest-asyncio allows it in the first place.

[2022-01-21 13:20] spacemanspiff2007 commented on #274
Yes - it's an asyncio application and the central event loop is the coordinator.

Okay, maybe I can still get rid of some of the code. I'll take a look at it.
Thank you very much for you kind help!

[2022-01-21 17:02] asvetlov commented on #197
@seifertm can I kindly ask you to check the `self` instance behavior for non-asyncio test cases?
Is it the same or not? Does `pytest-asyncio` break the standard rule?

[2022-01-21 20:03] asvetlov commented on #265
Sorry. Works fine for me.
Could you provide a reliable test case?

[2022-01-21 20:12] seifertm commented on #197
Good question. I checked once with async test functions and once with non-async tests.

It seems that `pytest-asyncio` behaves differently here.

The output of the async tests:
[code]

Output for the non-async tests:
[code]

[2022-01-22 07:53] PerchunPak commented on #265
[Here](https://pastebin.com/fnzf2Dax) full logs of reproduce, check if you done all steps and have same result.

[2022-01-23 14:07] asvetlov commented on #265
I see something suspicious.
Make your async test methods non-static, please.

[2022-01-23 15:30] PerchunPak commented on #265
Yes, it is works now.

[2022-01-24 10:52] asvetlov commented on #265
Should we fix it?
I think the problem is very minor, I have never seen static tests before.

[2022-01-24 19:33] seifertm commented on #265
I've only encountered static tests with the unittest framework so far, never with pytest. I agree that we probably shouldn't address this use case and close the issue. Feel free to voice concerns, though :)

For posteriority:
I was wondering why pytest-asyncio didn't find the tests when they were decorated with `@staticmethod`. After all, pytest does have support for that kind of tests.

It turns

[2022-01-24 19:33] #265 closed

[2022-01-25 09:04] asvetlov commented on #227
I mean `event_loop` defined in a test module.
[code]

Anyway, there is no need to change the plugin code. Everything works already.
Closing the issue.

[2022-01-25 09:04] #227 closed

[2022-01-25 16:18] asvetlov commented on #265
The plugin uses `asyncio.iscoroutinefunction()`, maybe it behaves a little differently than `inspect.iscoroutinefunction()`

[2022-02-02 14:03] GazitLior opened #280 "Pytest-asyncio failed during test teardown using async fixture"
Using pytest-asyncio version: 17.2
This is the conftest.py:
[code]
These are the tests (test.py):
[code]

While running `test.py` there is an error in the test teardown:
[code]

The tests pass when:

- Changing `yield` to `return` in the fixtures.

- When adding the fixture to the second test:

[code]

[2022-02-02 14:24] seifertm commented on #280
Thanks for the report!
It looks like this bug has already been fixed. I can reproduce the issue in v0.17.2, but not in the current master branch (commit d8efa640f0aa1ba8856b908ba486150588018209).

@GazitLior can you run `pip install --upgrade git+https://github.com/pytest-dev/pytest-asyncio.git` in your project and report back if the version from VCS resolves the issue for you?

[2022-02-03 15:11] seifertm commented on #280
@GazitLior Judging by your "thumbs up" reaction I assume the version of pytest-asyncio on Git master works for you.

[2022-02-03 15:12] webknjaz opened #281 "[TODO] Complete the configuration GHA+check+branch protection"
I see that the workflow uses my `alls-green` action. It is primarily designed to be used as a single check added to the branch protection. Looks like this part has been forgotten — I haven't seen the respective job being marked as `Required`.
So I'm logging this issue/task for somebody to finish the repository settings setup.

[2022-02-03 15:14] webknjaz opened #283 "[TODO] Delete `setup.py`"
There's `setup.cfg` in the repo already and `setup.py` is not needed anymore since the entry point for building dists is now PEP 517 configuration. Earlier, `setup.py` would be necessary to keep the support for editable installs (`pip install -e .`) but it's not the case with today's modern setuptools releases.

[2022-02-03 16:48] GazitLior commented on #280
@seifertm Yes im sorry for the late response. It solevd this problem indeed! Thank you!

[2022-02-06 19:48] altendky commented on #95
Along with the inspiration from Twisted, consider Trio as well.  https://pytest-trio.readthedocs.io/en/stable/reference.html#autojump_clock  Advancing time automatically even _faster_ than the wall clock is very useful as well.

[2022-02-07 11:25] asvetlov commented on #281
The branch protection rules are set up.
Thanks for the reminder!

[2022-02-07 11:25] #281 closed

[2022-02-07 11:29] asvetlov commented on #283
IIRC, now `setup.py` is required for Dependabot checks.
At least I reverted `setup.py` back to keep dependabot working at my job' projects.
From my understanding, the dependabot uses the` setup.py` file as a marker.

[2022-02-07 11:30] webknjaz commented on #283
I haven't seen that happening.

[2022-02-07 13:42] asvetlov commented on #283
Ok, we can try and see

[2022-02-07 22:54] vincentsarago opened #285 "breaking change or bug with 0.18"
👋 Dear maintainers,
As of today (with new 0.18), my tests are failing with a weird async related issue:

`AttributeError: 'async_generator' object has no attribute 'get'` (Note: this not a pytest-asyncio message but my application).

Here is how I'm settings my tests:
[code]

[code]
see: https://github.com/stac-utils/titiler-pgstac/blob/tilebuffer/tests/conftest.py#L39-L137

Again, maybe I was tot

[2022-02-07 23:08] vincentsarago commented on #285
re-written my test to be full async https://github.com/stac-utils/titiler-pgstac/pull/31/commits/7737b592ac090309538232a19418c13117c1b49d and it fixed the issue

[2022-02-07 23:08] #285 closed

[2022-02-08 10:49] PerchunPak opened #286 "v0.18.0 doesn't find some of my async fixtures"
[Logs from Github Actions.](https://github.com/PerchunPak/PingerBot/runs/5105657604?check_suite_focus=true#step:7:83)
[Code.](https://github.com/PerchunPak/PingerBot/blob/ec09ca75b3a812de007a97e43628a9fb78fc9cfc/tests/test_other_cmd.py#L9)
Keep in mind, that v0.17.x worked normally.

[2022-02-08 12:26] seifertm commented on #286
Thanks for the logs and the code example!
Your code is using `@pytest.fixture` to decorate asynchronous fixtures. Starting with v0.17, asynchronous fixtures should be decorated with `@pytest_asyncio.fixture`. (see https://github.com/pytest-dev/pytest-asyncio#async-fixtures)

Could you try changing the decorators on the fixtures in your test and report back?

[2022-02-08 13:20] PerchunPak commented on #286
I am using `@pytest.fixture` in other files, and it works fine with `asyncio_mode = auto`.
Logs when I changed all `@pytest.fixture` to `@pytest_asyncio.fixture` in `test_other_cmd`.
[code]

[2022-02-08 21:48] ppena-LiveData opened #288 "possible contradictions in `event_loop` documentation"
I'm confused by these two parts of the [event_loop](https://github.com/pytest-dev/pytest-asyncio#event_loop) section of the `README`. This wording:

seems to contradict this other wording that is a little further down in the same section:

[2022-02-09 07:32] seifertm commented on #288
Thanks for bringing this up!

I'd say some of that is no longer incorrect and we should rewrite this. Let me try to clear up the confusion:

1. pytest-asyncio will never change the event loop policy
2. If an async function is decorated with `pytest.mark.asyncio`, the plugin will create a dedicated event loop based on the current loop policy and run the async function in that event loop.
3. You can

[2022-02-09 10:59] cnaaq commented on #286
I have the same issue. I figured out something else which is worth mentioning (please see if you can reproduce it as well).
Consider the two fixtures + two test cases:

[code]

So far nothing new and no apparent difference between the two examples. Both of them fails because of the reported bug.
What I noticed is that fixing one of them, causes both of them to pass! Here:

[code]

In this case bot

[2022-02-09 11:56] PerchunPak commented on #286
@cnaaq, can't reproduce it on

- Windows 11
- Python 3.10.2
- pytest 8.0.0
- pytest-asyncio 0.18.0

Try update your `pytest` or `python`. Also try create virtual environment.

[2022-02-10 11:57] #286 closed

[2022-02-10 13:04] seifertm commented on #286
@cnaaq Thanks for the additional information.

The v0.18.1 release should fix the issue.

@cnaaq @PerchunPak Can you upgrade to v0.18.1 and check if this fixes your problems?

[2022-02-11 08:32] cnaaq commented on #286
Yes, thank you very much for the quick fix :)

[2022-02-11 11:17] Apakottur opened #290 "Unable to use custom decorators on tests in `auto` mode"
Thanks for the great library!

I am unable to use `asyncio_mode = auto` and decorators at the same time.
Consider the following example:

[code]

[code]

I would expect `pytest -c pytest.ini test.py` to work without issues (without having to specify `@pytest.mark.asyncio` because I'm in `auto` mode) but instead I get:
[code]

I tried using `functools.wraps` instead of `decorator.decorator` but I a

[2022-02-13 23:44] unmade opened #291 "`Event loop is closed` when using `pytester` and `pytest_asyncio.fixture(autouse=True)`"
If you have an async fixture with a teardown and `autouse=True` and you have a simple non-async test with a [pytester plugin](https://docs.pytest.org/en/7.0.x/how-to/writing_plugins.html#testing-plugins), then that fixture is always added as a finalizer.

Basically, if you have the following:

[code]

Then, the test fails on a teardown with the following error:

[code]

---

I've checked it on `py

[2022-02-15 13:05] kriek opened #292 "asyncio_mode=auto does not mark static methods"
Hi there,

I've migrated from 0.17.2 to 0.18.1 and activated auto asyncio_mode. It seems the mode is not able to apply asyncio marker to static methods.

The following minimized example:
[code]
Fails as follows:
[code]

test_auto_mode.py could easily be extended to cover that extra use case but I am not sure how to adapt pytest_pycollect_makeitem to fix the problem.

As a side note, with 0.17.2, w

[2022-02-15 14:50] cladmi opened #293 "Warning about `asyncio_mode` even when unused in tests."
When `pytest-asyncio` is installed, it would warn about its configuration even if nothings makes use of it in the test suite.
Meaning all tests on my machine would need to have the `asyncio_mode` configuration, even if not using it, to not have a warning reported.
(in a non virtualenv environment, I agree).

It would be nice to only warn if it's actually used in a test.

With a clean directory wit

[2022-02-15 20:44] kriek commented on #292
We have expensive pytest fixtures and we are using test classes to make use of "class" fixture scope. With it, we can control precisely when the teardown code is executed inside a test module.
We don't have attributes defined for our classes and using staticmethod is a way to mute the no-self-use pylint warning. We could alternatively have disabled it.

I wouldn't mind if the problem is not fixed,

[2022-02-15 21:09] seifertm commented on #293
I understand that the warning may be confusing if pytest-asyncio is installed, but you're not making use of it in your project.

May I ask what prevents you from removing pytest-asyncio from your environment? Are you using a global pytest-asyncio installation or are you installing it in a virtualenv?

[2022-02-16 07:00] cladmi commented on #293
Hi seifertm,

I am not using virtual environment for this, just relying on the same dependencies for different tests.
So everything installed as `--user` or globally. Things are in sync with the required versions across projects.

pytest-asyncio would be used to unit-tests some of the tool, but then the integration tests using this tools would not use it.
No "problem" with using the same dependenc

[2022-02-16 10:12] skelutten opened #294 "pluggy.manager.PluginValidationError: Plugin 'asyncio' for hook 'pytest_addoption'"
Hi

I wantd to try out pytest-asyncio for some tests running in a Docker container.
Python 3.8.10
pluggy             0.13.0
pytest             4.6.9
pytest-asyncio     0.18.1

When I launch pytest it immediately gives an error:
[code]
Are the versions listed above not compatible?

Cheers,

Daniel

[2022-02-16 10:16] asvetlov commented on #294
`pytest-asyncio` requires `pytest>=6.1.0`: https://github.com/pytest-dev/pytest-asyncio/blob/master/setup.cfg#L38
I have no ide how did you install pytest==4.6.9 with pytest-asyncio==0.18.1

[2022-02-16 10:47] asvetlov commented on #293
The lazy asyncio mode detection is possible.
The problem is that: if there is an installed third-party pytest plugin that defines async fixtures (e.g. `pytest-aiohttp`) -- it implicitly requests asyncio mode detection; you'll see the 'legacy' warning again.
Thus, the usefulness of the proposed change is not high, IMHO.

[2022-02-16 11:00] asvetlov commented on #294
`from_parent` was added by pytest 6.x line.
6.1.0 definitely has `pluginmanager` argument for the hook: https://github.com/pytest-dev/pytest/blob/6.1.x/src/_pytest/hookspec.py#L80
Also, pytest-asyncio CI has the explicit 'minimal' configuration that checks its own tests passing with minimal supported Python (3.7) and pytest (6.1.0).

Please double-check your requirements.

[2022-02-17 11:51] kriek commented on #292
I will give it a try.

[2022-02-17 12:54] kriek commented on #292
PR [295](https://github.com/pytest-dev/pytest-asyncio/pull/295) created. I found the staticmethod unwrapping code by inspecting pytest sources.

[2022-02-21 14:20] pawamoy opened #296 "Does marking tests with pytest.mark.asyncio() runs all the tests asynchronously?"
I recently showed a colleague how to write tests with temporary folders for ASGI applications, and suddenly I wondered how my async tests even worked.

Basically, I have a `client` fixture that will monkeypatch an attribute in my ASGI app, which is global, to use a temporary folder for each test.

It seems to work, so I guess that, even if I mark my tests with `pytest.mark.asyncio()`, they actuall

[2022-02-21 14:26] Tinche commented on #296
Correct, they don't run concurrently. It just enables the machinery that sets up the event loop and awaits the test.

[2022-02-21 14:35] pawamoy commented on #296
Great, thanks 😄

[2022-02-21 14:35] #296 closed

[2022-02-22 11:17] 34j opened #297 "Asynchronous fixtures in a class do not work like normal fixtures."
python 3.9.9
pytest 6.2.5
pytest-asyncio 0.18.1
[code]
The following test passes.
[code]
However, the following test do not pass.
[code]
[code]
If the following changes are made, the test passes.
[code]
But this seems a bit tedious; is it possible to get the second test to pass? Or is there an easier way?

[2022-02-22 11:28] seifertm commented on #297
Thanks @34j for the report! This seems to a duplicate of #197.

Unfortunately, I can't provide a workaround for the issue at the moment. The only other way I can think of is this:
[code]
My example doesn't rely on `self`. The fixture returns its value directly rather than setting `self.X`. This should work until the issue is fixed.

[2022-02-22 11:28] #297 closed

[2022-02-23 01:59] flolf opened #298 "pytest-asyncio doesn't work with trio fixtures"
My `pytest.ini` file contains the following:
[code]

I have the following fixture
[code]

And the following test:
[code]

Unfortunately the `pytest` collection fails at the fixture level:
[code]

Why is pytest-asyncio not recognising the trio fixture?

[2022-02-23 14:23] asvetlov commented on #298
pytest-asyncio bug

[2022-02-23 14:24] #292 closed

[2022-02-23 14:26] #294 closed

[2022-02-25 12:01] kreo79 commented on #212
d

[2022-02-25 14:57] romainletendart commented on #291
Hi all,
I get similar issues on my tests.

[2022-02-25 17:57] dsouzan opened #299 "Argument(s) {'pluginmanager'} are declared in the hookimpl but can not be found in the hookspec"
Context : I am trying to fix this warning - The 'asyncio_mode' default value will change to 'strict' in future, please explicitly use 'asyncio_mode=strict' or 'asyncio_mode=auto' in pytest configuration file.

Repro Steps:
1.pip3 install pytest-asyncio
2. pytest-3 test/test_requirements.py --asyncio-mode=strict

<error>

:~/cve-bin-tool$ pytest-3 test/test_requirements.py --asyncio-mode=strict
Tra

[2022-02-25 18:19] asvetlov commented on #299
The plugin requires pytest 5.1+.
I'm curious: How was you able to install the latest pytest-asyncio with pytest 4.x?
Do you use outdated pip?

[2022-02-25 18:23] dsouzan commented on #299
I just did this.

pip3 install pytest-asyncio

The pip3 version : pip 20.0.2 from /usr/lib/python3/dist-packages/pip (python 3.8)

[2022-02-25 18:33] dsouzan commented on #299
$ pip install --upgrade pytest
Requirement already up-to-date: pytest in /home/ndsouza/.local/lib/python3.8/site-packages (7.0.1)
Requirement already satisfied, skipping upgrade: attrs>=19.2.0 in /usr/lib/python3/dist-packages (from pytest) (19.3.0)
Requirement already satisfied, skipping upgrade: iniconfig in /home/ndsouza/.local/lib/python3.8/site-packages (from pytest) (1.1.1)
Requirement alrea

[2022-02-28 15:51] seifertm commented on #299
@dsouzan I'm pretty confident this is an issue with your environment. As Andrew mentioned, pytest-asyncio requires at least pytest 6.1.

Can you upgrade to a recent version of pytest and report back if that fixes the issue?

[2022-02-28 19:36] dsouzan commented on #299
@seifertm, you are correct, there is a problem with my environment. i will need to chase it down. Perhaps I am not using pytest-3 correctly.

I have a workaround _

ndsouza@ndsouza-ws:~/cve-bin-tool$ python3 -m pytest test/test_requirements.py --asyncio-mode=strict
============================================================================================ test session starts =====================

[2022-02-28 19:40] seifertm commented on #299
That output looks better :)
I'm closing this issue, but feel free to reach out if you have questions or if you experience any other issues.

[2022-02-28 19:40] #299 closed

[2022-03-02 22:28] mweinelt opened #302 "Tests fail against hypothesis 6.39.0"
With `pytest-asyncio==0.18.1` and `hypothesis==6.39.0` we are seeing the following test failures.

Tests were working fine with `hypothesis==6.35.0`, `hypothesis==6.37.2` and `hypothesis==6.38.0`. So tests are starting to fail with 6.39.0

[code]

They all seem to boil down to this line:

Happy to test patches.

[2022-03-02 23:16] mweinelt commented on #302
https://github.com/HypothesisWorks/hypothesis/issues/3245

[2022-03-03 04:25] Zac-HD commented on #302
I'm pretty sure that all this needs is to add `*args` in https://github.com/pytest-dev/pytest-asyncio/blob/9246f5825f589ff01f1c67620ce34bdc416c5af3/pytest_asyncio/plugin.py#L435-L436

[2022-03-03 07:15] seifertm commented on #302
Thanks for the report! You already did all the digging and basically solved it :)

It definitely makes sense to accept `*args` in addition to `**kwargs`. It improves compatibilty and I don't see any harm in adding support for positional arguments.

[2022-03-03 07:29] #302 closed

[2022-03-03 07:32] seifertm commented on #302
@mweinelt Would you mind testing again with the current master?
`pip install --upgrade git+https://github.com/pytest-dev/pytest-asyncio.git`

[2022-03-03 08:44] mweinelt commented on #302
@seifertm Can confirm master works with hypothesis 6.39.0. Thank you!

[2022-03-03 08:47] Zac-HD commented on #302
Thanks for picking this up!  We should have https://github.com/HypothesisWorks/hypothesis/pull/3246 out in the morning, once Actions startup recovers and we can run our release process, at which point updating Hypothesis *or* pytest-asyncio will fix the problem 🙂

[2022-03-07 07:57] seifertm commented on #291
Thanks for the report! I can reproduce the issue with your example.

My current understanding is that the programmatic pytest run using `pytester.runpytest` causes the current loop provided by the `event_loop` fixture to close. In other words, `pytester.runpytest` is not a hermetic environment and affects the `event_loop` fixture of the test using pytester. Please correct me, if I'm wrong.

Modify

[2022-03-07 09:42] seifertm commented on #298
I came up with a possible fix (see [this branch](https://github.com/seifertm/pytest-asyncio/tree/trio-fixture-compatibilty)), but the corresponding test is still failing on Python 3.7.

I got in touch with pytest-trio to figure out the issue (see https://github.com/python-trio/pytest-trio/issues/126)

[2022-03-07 09:51] seifertm opened #305 "Pin dependency versions"
pytest-asyncio has dependencies on a bunch of other pytest plugins, in order to ensure mutual compatibility. These tests are run as part of the CI.

CI will always install the latest versions of test dependencies. When one of the dependencies releases a breaking change, the CI pipeline will fail, even if no changes in pytest-asyncio have been made. This prevents us from merging any PRs unless the

[2022-03-13 11:47] dynalz opened #310 "```RuntimeError: Event loop is closed``` after 0.17.0"
I have a big application which makes use of the same event_loop.
For re-useability I share this LOOP between all services running on the same instance.

Before 0.17.0, I used to override the event_loop fixture, to just yield MY_GLOBAL_LOOP and never close it.
After 0.17.0, it seems this is ignored somehow and something is forcing .close() on this loop producing:
[code]
on all tests other than the

[2022-03-14 07:37] seifertm commented on #310
Thanks for reaching out!
I remember a user with a similar issue: #274

pytest-asyncio tries to run each test in a fresh event loop to prevent unwanted side effects. If your tests require that a single event loop is used for the whole test suite, you can try to extend the scope of the `event_loop` fixture to the whole test session:
[code]
That way, the event loop will be reused for all tests in you

[2022-03-14 14:30] dynalz commented on #310
It solved!

Thanks

[2022-03-14 14:38] #310 closed

[2022-03-15 06:05] #298 closed

[2022-03-15 06:07] seifertm commented on #298
@flolf Can you please test again, if the latest state of master fixes your problem?
`pip install --upgrade git+https://github.com/pytest-dev/pytest-asyncio.git`

[2022-03-17 08:54] seifertm commented on #209
This issue is about pytest-asyncio-0.15.0 and there hasn't been any progress in this issue for almost a year. The following v0.15.1 release seemed to fix the problem for most of the participants of this discussion, as well as for the django/channels project.

A lot has happened since v0.15.0 and pytest-asyncio is now at v0.18.2. Please file a new bug, if you encounter any issues.

@escapewindow If

[2022-03-17 08:54] #209 closed

[2022-03-17 09:00] seifertm commented on #179
@Cimmanuel I know our response comes pretty late. If you could already solve your problem, that's great! As Andrew already mentioned, we cannot really help you without a reproducible example.

Feel free to reopen this issue, if you're still having problems.

[2022-03-17 09:00] #179 closed

[2022-03-17 10:31] seifertm opened #311 "Deprecate `event_loop` fixture overrides"
There have been multiple feature requests for setting loop exception handlers (#205) and canceling tasks after the event loop has closed (#222, #309). I believe pytest-asyncio is not just about being able to write async tests, but about helping people to write good async code with pytest. That's why I think those requests are warranted.

All feature requests propose to add additional code to the `

[2022-03-19 00:42] asvetlov commented on #311
Regarding task cancellation etc.
Could proposed improvements be done in `pytest_fixture_setup` / `pytest_fixture_post_finalizer`?

Also, Python 3.11 will likely have `asyncio.Runner` context manager that simplifies the loop cleanup. Maybe we can build our system on top of a runner instead of the event loop?
Sure, the feature backporting could be nontrivial (https://github.com/python/cpython/pull/3

[2022-03-24 07:26] seifertm commented on #311
This would only work, if the user does not provide their own `def event_loop`. Otherwise, the loop will likely be closed when the fixture finalizer starts.

This is really interesting! Let's park my proposal until we get to experiment with `asyncio.Runner` then :)

Linking the relevant issues for reference:
https://bugs.python.org/issue47062
https://github.com/python/cpython/pull/31799

[2022-03-24 07:51] #311 closed

[2022-03-24 08:13] seifertm commented on #170
When this issue was created, pytest-asyncio and pytest-aiohttp were incompatible with each other.

This has changed starting from pytest-aiohttp-1.0.0 (and pytest-asyncio-0.17.2). If you're experiencing problems, make sure to upgrade to the latest versions of the library and feel free to report any issue you encounter!

[2022-03-24 08:13] #170 closed

[2022-03-25 08:23] seifertm commented on #311
@asvetlov If I understand correctly, `asyncio.Runner` and `aioloop-proxy` are competing solutions. Is that right?

[2022-03-25 08:37] seifertm commented on #171
Thanks for keeping this thread updated!

It sounds like the issue has been solved (apart from the performance problem). If anything else comes up, feel free to open another issue.

[2022-03-25 08:37] #171 closed

[2022-03-25 09:07] aqc-carlodri commented on #298
Just stumbled into this issue and yes @seifertm I can confirm that `pytest-asyncio-0.18.3.dev3+gf979af9` fixes the problem! Thank you! Is there a timeline for an official release including this fix?

[2022-03-25 09:08] seifertm commented on #166
This issue was reported for pytest-asyncio-0.12.0. As far as I understand, the problem has been solved. If not, please retest with the latest version of pytest-asyncio and reopen the issue or file a new one.

[2022-03-25 09:08] #166 closed

[2022-03-25 09:16] seifertm commented on #298
@aqc-carlodri Thanks for the feedback!
If it fixes the issue, we can do a release right now.

[2022-03-25 09:38] aqc-carlodri commented on #298
sounds great thank you!

[2022-03-25 09:43] seifertm commented on #118
@dimaqq I know this issue is specifically about the fixture setup. #69 is about running tests asynchronously.

Would it be acceptable for you to close this issue in favour of #69?

[2022-03-25 09:45] seifertm commented on #298
@aqc-carlodri pytest-asyncio-0.18.3 is now available on PyPI

[2022-03-25 19:25] altendky opened #314 "py.typed file is not included in v0.18.3 wheel"
I just started getting complaints from CI about untyped decorators with `@pytest_asyncio.fixture()`.  The `py.typed` file was not included in the v0.18.3 wheel released today.  It does appear to be present in the v0.18.2 wheel as well as the v0.18.3 sdist.

![image](https://user-images.githubusercontent.com/543719/160187517-a714ea6a-758b-432e-a3cd-ecfc3f85b2d4.png)

I started looking around locall

[2022-03-25 20:41] seifertm commented on #314
Thanks for the report! That's weird indeed. Linking #305 as a possible future fix for the issue.

When I build v0.18.2 with my local environment, `py.typed` is missing in the wheel as well.

I dug up the dependencies that were installed during the _Install check-wheel-content, and twine_ step for [v0.18.2](https://github.com/pytest-dev/pytest-asyncio/runs/5406336367?check_suite_focus=true) and [v.

[2022-03-25 23:31] altendky commented on #314
Out of that list I would guess `importlib_resources`.  But, wouldn't it be the `python -m build` step?  Though I didn't look back to see if those use the same install step.

[2022-03-26 01:44] altendky commented on #314
I'll note that setuptools seemed to be updated in that time.  And hey, I just tried rebuilding my env here and creating a new wheel and it seems to have worked.

[code]

[code]

[code]

[code]

[code]

[code]

[2022-03-26 01:49] altendky commented on #314
Definitely some relevant commits in there...  https://github.com/pypa/setuptools/compare/v61.0.0...v61.1.0

Strikes me as more of a fix than a change but, oh well.  It's working again.  https://github.com/pypa/setuptools/blob/6310e32e6a5456a75f982ca67ddf49f559f9cd69/CHANGES.rst#changes

[2022-03-26 09:09] dimaqq commented on #118
I think you can decide that @seifertm

[2022-03-27 01:40] altendky commented on #314
Assuming that my observations above are correct, do you think we could get a release soon?  If not then I'll have to add `!=0.18.3` in a few places to fix our type checks.

[2022-03-28 05:47] seifertm commented on #314
Thanks for all the debugging @altendky!

My understanding is that v0.18.3 is not completely broken, only the wheel was built incorrectly. That's why I believe the nicest way to rectify the issue is to upload a wheel with an updated build number to the v0.18.3 release on PyPI (e.g. `pytest_asyncio-0.18.3-1-py3-none-any.whl`). Pip would find both both wheels in the v0.18.3  release and choose the on

[2022-03-28 10:29] Tinche commented on #314
@seifertm I can give you access if you send me your PyPI username ;)

[2022-03-28 10:59] seifertm commented on #314
@Tinche Thanks, that would help :)
My user is [m.seifert](https://pypi.org/user/m.seifert/)

[2022-03-28 12:10] altendky commented on #314
Yes, that's my understanding as well.  It might be worth also yanking (a technical term...) the existing release.  That would mean that users would not get it unless they explicitly requested that exact version.  I think you will need to do an actual release version bump.  This is more than a documentation fix so I think `.post` isn't exactly proper.  It might be easiest to just do 0.18.4 instead

[2022-03-28 12:53] seifertm commented on #314
I agree that a `.post` release is not enough.

I'd like to try and upload an additional wheel with a higher build number as described [here](https://snarky.ca/what-to-do-when-you-botch-a-release-on-pypi/) (see section *A wheel file wasn't compiled properly*). I believe this will solve your issue.

If that doesn't work (or if I don't get PyPI access in the next ~5 hours and nobody else jumps in), I

[2022-03-28 13:08] altendky commented on #314
Mmm, I kind of forgot about that.  I don't super care since mostly I just need fresh venvs to be good but I wonder if that triggers an upgrade or not.  Anyways, I appreciate the help addressing this.

[2022-03-28 14:01] seifertm commented on #314
I uploaded `pytest_asyncio-0.18.3-1-py3-none-any.whl` to PyPI which contains `py.typed`. Here is the diff between the two unpacked wheels:
[code]

Fresh installations with `pip install pytest-asyncio` will use the new wheel. Existing installations will not be updated when running `pip install --upgrade` without `--force-reinstall`.

@altendky Could you test if this works for you and report back?

[2022-03-28 14:29] altendky commented on #314
I found a job that had failed before and reran it.  It got the `-1` build and also passed.  I also downloaded the wheel manually from PyPI and confirmed the presence of the `py.typed` file.
 Looks fixed.  Thanks!

[2022-03-28 14:29] #314 closed

[2022-03-28 15:13] seifertm commented on #314
Sounds good, thanks for the feedback!

Also thank you @Tinche for the quick reaction about the PyPI access.

[2022-04-05 13:33] ska-kialo opened #317 "py.typed marker missing in v0.18.3"
Hi, I was just trying to upgrade to v0.18.3 and mypy started complaining with the following error message:

[code]

Upon investigation it seems that v0.18.2 still had this file and the new version removed it.

[2022-04-05 14:11] ska-kialo commented on #317
Ah okay, our `pip-compile`d requirements file was pointing to the previous version. Recompiling it fixes the issue and the correct wheel is downloaded. Thanks for the quick response 👍

[2022-04-05 14:11] #317 closed

[2022-04-08 21:31] gmankab commented on #212
Hello bro, how to do it?

[2022-04-11 08:58] verfired8975 opened #327 "python-asyncio"
pls help mq
[code]

Commands
    asyncio.get_event_loop().run_until_complete(start_server)
    asyncio.get_event_loop().run_forever()

i am running server.py but this error

[2022-04-11 11:01] seifertm commented on #327
@verfired8975 I'm sorry, but I cannot follow.

You opened an issue for pytest-asyncio. I see that you are using asyncio, but I fail to see how your problem is related to the pytest plugin for asyncio.

I also don't understand the problem you are experiencing. Can you explain what's happening and provide a minimal reproducible example?

[2022-04-22 13:58] seifertm commented on #327
I'm closing this issue, since no additional information was provided.

[2022-04-22 13:58] #327 closed

[2022-04-25 13:46] jjaanila opened #338 "0.18.3 doesn't wait for async fixtures"
It seems that 0.18.3 introduces a bug(?) where async fixtures are not waited and they pass an async_generator to test cases instead of the yielded value. 0.18.2 works as described in documentation.

[code]

With the code above and Python 3.10.4, pytest-asyncio 0.18.3 and pytest 6.2.5, the test run doesn't wait at all and prints:
`<async_generator object TestFixture.some_async_fixture at 0x7f7a5520

[2022-04-25 14:35] seifertm commented on #338
This is interesting, thanks for the report!

I cannot reproduce the issue on my machine, though. I tried reproducing the issue using the exact same versions of CPython, pytest-asyncio (v0.18.3), and pytest. Your code always prints "test" and runs for just over 10 seconds regardless of the my setting of `asyncio_mode`.

[code]

There's a chance the behaviour might be different based on the operatin

[2022-04-25 15:37] jjaanila commented on #338
I run tests with Ubuntu 20.04.4 and CPython. My colleagues ran into similar issues with Macs but they haven't tested 0.18.2 yet. I will post the results tomorrow.

[2022-04-26 05:55] jjaanila commented on #338
The fix works also on Mac, so the issue has been resolved. Sorry for bothering you!

[2022-04-26 05:55] #338 closed

[2022-05-02 01:50] mborsetti opened #343 "pytest-asyncio hangs pytest"
On Windows 11, `pytest` freezes if `pytest-asyncio` is present, and will stay frozen until I press Ctrl-C.

From the error trace, it appears that `assertion/rewrite.py` is trying to write a temporary file within the library directory (and, obviously, no privileges to do so) vs. the correct way of doing so in the temporary directory.

[code]

Encountered in both Python 3.10 and 3.9, with and withou

[2022-05-02 02:00] mborsetti commented on #343
Transient issue.  A reinstall fixed it.

[2022-05-02 18:41] seifertm commented on #338
@jjaanila No worries. I'm happy you could solve it. I like these kinds of issues much more than actual bugs :)

[2022-05-03 22:25] rafsaf commented on #288
By the way, in python 3.10 `asyncio.get_event_loop()` is deprecated
https://docs.python.org/3.10/library/asyncio-eventloop.html#asyncio.get_event_loop

In the README we do have following example:
[code]
In 3.9 I was using (for "session" scope)
[code]
Now (3.10+) it's more like that to avoid deprecation warning:
[code]

IMO mysterious `MyCustomLoop` may distract newcomers, especially when somebody

[2022-05-04 19:47] ReznikovRoman commented on #112
got this error in 0.18.3

[2022-05-12 04:28] seifertm commented on #112
As of v0.18.3 this error could be caused by an unexpected interaction with other pytest plugins that manipulate the event loop.

@ReznikovRoman Can you provide a reproducible example?

[2022-05-16 06:47] erny opened #349 "event_loop fixture not properly applied when pytest is called from outside of the directory without args"
## Problem description

- When I run: `pytest tests` everything works as expected
- When I run: `pytest`  without arguments, I get `RuntimeError: Event loop is closed` for all tests that use asyncio

(Sorry if this question was already resolved in another issue. I had a look but couldn't find a match.)

## Environment

* python 3.8.10 / Linux 5.4.0-110-generic / Ubuntu 18.04 / 64 bits
* pytest==7.

[2022-05-16 10:33] seifertm commented on #349
Thanks for the report, this is sounds very weird indeed.

I assume there's a bad interaction with motor. At some point motor is creating a new event loop, even though it should reuse the one provided by pytest-asyncio. This would result in a RuntimeError when tearing down the event_loop fixture.

I dimly remember a mention of a similar error in another project, but I couldn't seem to find it, sorr

[2022-05-22 17:22] ughstudios opened #353 "Infinite hang"
[code]

I wrote a simple test and when I try to run it from vscode it just hangs forever.  I get this output, and then nothing:
[code]

[2022-05-22 17:24] ughstudios commented on #353
Nevermind, this is a mistake in my code. I should have added some logging for this. There is no issue.

[2022-05-22 17:24] #353 closed

[2022-05-24 09:41] seifertm commented on #349
As mentioned in my last post, we'd need a reproducible example to look into this issue.

@erny Any updates on this?

[2022-05-24 11:46] RemiCardona opened #358 "[regression] *autouse* async generator fixtures no longer executed since 0.18.0"
**Autouse** async generator fixtures are no longer executed since 0.18.0, git bisect points to d8efa640f0aa1ba8856b908ba486150588018209. Fixtures with explicit dependencies work just fine.

I have tried both:
- `@pytest.fixture`
- `@pytest_asyncio.fixture`

to no avail. It didn't matter if the async gen fixture was a stand alone function, a method on a regular class or a method on a `unittest.Test

[2022-05-25 02:29] baiyyee opened #359 "RuntimeError: Cannot run the event loop while another loop is running"
When trying to do UI automtion with pytest-asyncio and pytest-playwright, I got exception like: **RuntimeError: Cannot run the event loop while another loop is running**

**Code structure:**
[code]

**ui2/conftest.py**

[code]

**ui2/test_bing.py**

[code]

**env:**
[code]

**Detail exception as below:**

![image](https://user-images.githubusercontent.com/4414171/170166462-f3ffd79f-fdde-47ee-a73a-

[2022-06-04 06:44] seifertm commented on #358
Thank you for the thorough investigation. I will not have time to look into this for the next two weeks. If nobody else is going to pick this up, it'll have to wait until then.

[2022-06-04 06:45] seifertm commented on #359
Thank you for the report and the example. Unfortunately, I will not have time to look into this for the next two weeks. If nobody else is going to pick this up, it'll have to wait until then.

[2022-06-07 10:52] jmg-duarte commented on #77
Hey all, what's the status on this?

[2022-06-09 13:34] graingert commented on #359
one issue here is that you're expecting an async_api.Page, but pytest-playright uses the sync_api.Page https://github.com/microsoft/playwright-pytest/blob/456f8286f09f132d2e21f6bf71f27465e71ba17a/pytest_playwright/pytest_playwright.py#L22

[code]

[2022-06-12 11:47] SilenceHe commented on #359
so async api is not supported in pytest-playright?

[2022-06-17 19:43] mh7d opened #369 "Using async testcases creates "empty" testcases in junit xml file using option --junitxml=xxx"
I have a testsuite containing several async testcases using @pytest.mark.asyncio.

I use the --junitxml=xxx option to generate a report which can be used in Azure DevOps for test reports. in some situations I get a warning in DevOps, that not all testcases can be displayed. When going into details, I found out, that in in the generated xml file, there are extra testcases having no name, each of th

[2022-06-19 13:15] seifertm commented on #359
@graingert Thanks for jumping in!

As  mentioned _playwright-pytest_ only supports the synchronous Playwright API at the moment (see https://github.com/microsoft/playwright-pytest/issues/74).

@SilenceHe [This comment](https://github.com/microsoft/playwright-pytest/issues/74#issuecomment-916001720) in particular state that only `playwright.sync_api` is supported by _playwright-pytest_ and links to

[2022-06-19 13:22] seifertm commented on #359
I didn't know about nest_asyncio. The project seems to solve the same problem as https://github.com/aio-libs/aioloop-proxy for which a draft PR exists (https://github.com/pytest-dev/pytest-asyncio/pull/312).

@PeterStolz Your error message is similar to that of the OP. I see your problem as a different one, though, because it has nothing to do with playwright-pytest. Do you mind opening a separate

[2022-06-19 13:23] seifertm commented on #359
Closing this issue as this doesn't seem to be a pytest-asyncio bug. Feel free to reopen, especially if there is anything we can do to improve support for playwright-pytest.

[2022-06-19 13:23] #359 closed

[2022-06-19 13:50] graingert commented on #293
distributed uses `-p no:asyncio` due to a catch 22 where `--strict-config` prevents setting `asyncio_mode=strict`

https://github.com/dask/distributed/blob/8d21040d22c98981c9d1c3ddcd99fd9e673d8f4f/setup.cfg#L51

[2022-06-19 14:12] graingert commented on #293
@mgorny
re:

patching pytest-asyncio to auto would probably break stuff, "legacy" mode has been deprecated for a while now so it would be interesting to know how many gentoo tests would fail where pytest-asyncio to default to "strict":

patch here:
https://github.com/pytest-dev/pytest-asyncio/blob/796ef05dedced01dadfeeb228a0e7d0560902fdd/pytest_asyncio/plugin.py#L95-L99

[2022-06-20 15:12] FarukOzderim opened #371 "Event loop is closed"
While running the tests I am receiving these warning errors, and I suspect this causes CircleCI tests to run forever and not finish.

Reproduction:
Go to the [Commit](https://github.com/hibestil/gradio/tree/2515fede3f0e6739195039443ddbda56db8a84bc) and run
`pytest test/test_utils.py`

Related issues:
#256, #291

Not sure what causes it and how to solve it, do you have any suggestions @seifertm?

[

[2022-06-21 08:57] Puh00 commented on #371
I stumbled upon a similar issue and solved it by combining these two solutions: [https://github.com/pytest-dev/pytest-asyncio/issues/30#issuecomment-226947196](https://github.com/pytest-dev/pytest-asyncio/issues/30#issuecomment-226947196) and [https://github.com/encode/httpx/issues/914#issuecomment-622586610](https://github.com/encode/httpx/issues/914#issuecomment-622586610)

So the end result is:

[2022-06-21 11:32] FarukOzderim commented on #371
Thx for the suggestion @Puh00, we've solved it with [this](https://github.com/gradio-app/gradio/pull/1595/commits/34ab594d1e6ef2632529c9521c0c751102c67b49#diff-1780a2492dac55d0b4c5ff13cd3cf852a72cdac8995e17b10c87eeb678b3179eR191-R197)

Btw I liked your github page a lot, it rocks 🐱

[2022-06-21 11:37] seifertm commented on #371
I was just looking into this issue as you posted your comment.

Glad you could solve it. I assume this can be closed.

[2022-06-21 11:37] #371 closed

[2022-06-21 11:41] FarukOzderim commented on #371
So to have it clear, is it a bug related to Python(there are some comments in the threads provided above), or is it related to pytest-asyncio?

[2022-06-22 08:11] PeterStolz opened #374 "RuntimeError: Cannot run the event loop while another loop is running using pytest.main"
To give you a minimal proof of concept in python3.10:
`runner.py`
[code]

`test_file.py`
[code]

[code]
The cause for this exception is that my setup already has an existing running EventLoop and in that loop I invoke `pytest.main`.
`pytest.asyncio` uses `wrap_in_sync` in the async fixtures and tests, which calls https://github.com/pytest-dev/pytest-asyncio/blob/860ff5113c3e73ade396c632c822a171a81

[2022-06-26 08:26] seifertm commented on #371
@FarukOzderim If in doubt, it's a pytest-asyncio issue.

Honestly, I didn't manage to set up your example and reproduce the error. I checked out the repository, installed the requirements and downloaded >1GB of Python wheels. After that, the test still complained about missing dependencies, which I installed one by one. I stopped after the third and found your comment. No offense intended. I just

[2022-06-26 08:41] seifertm commented on #374
@PeterStolz thank you for the separate issue report. Sorry to cause you extra work, but it's much easier to keep on top of existing problems and to follow discussions.

This was also my impression from your initial issue comment. That's why I asked about the specific use case for this. Thank you for elaborating on this.

Interestingly, I do not get an error when I run your example. Note that I did

[2022-06-26 09:07] seifertm commented on #369
Thanks for the report! I believe the junit report generation did not get much attention in the past. As far as I know, there are no tests for this functionality at the moment.

I added `import os` to your example, so it runs with `pytest -p pytester`.

When I run your provided example, I get the following `junit.xml` output:
[code]
It looks like an internal pytest error to me.

Looking at the juni

[2022-06-26 09:34] seifertm commented on #77
As of v0.18.3 [unittest is unsupported](https://github.com/pytest-dev/pytest-asyncio/tree/v0.18.3#note-about-unittest):

At the moment I don't think it makes sense to replicate functionality in pytest-asyncio that already exists in the standard library. However, I'm always interested in concrete use cases that show otherwise.

@jmg-duarte I'm reaching out directly to you since you're the most rece

[2022-06-26 09:39] seifertm commented on #349
@erny Did you manage to solve the issue in the meantime?

[2022-06-26 11:21] jmg-duarte commented on #77
Hey @seifertm! Thank you for the reply. Yes, they are!

The first time I read the repo I didn't notice that, when I hit this wall I re-read and noticed that.
I was able to work it out using only `unittest.IsolatedAsyncioTestCase`.

[2022-06-26 12:28] PeterStolz commented on #374
I was using pytest-asyncio master to verify that the Issue still exists. I ran it again on the latest pypi version (asyncio-0.18.3 and python 3.10.4) and it still crashes. Did you really run the `runner.py` and not `pytest` directly?

[2022-06-26 12:28] seifertm commented on #288
@rafsaf Thanks for your input!

I agree with your point and I incorporated your feedback in the corresponding PR.

(Note that `asyncio.set_event_loop` will be called upon fixture setup by pytest-asyncio. There's no need to set it explicitly in the `event_loop` fixture.)

[2022-06-26 12:36] mh7d commented on #369
I tried to reproduce the bug, but I was not able to do so.

Perhaps I had another plugin enabled or used an olde version of pytest, which creates the bug. When reproducing, I found out, that my example has an error in the testcase, so I corrected it above.

Now it generates a file looking like (which is just fine):

<?xml version="1.0" encoding="utf-8"?>
<testsuites>
    <testsuite name="pytest" e

[2022-06-26 12:36] #369 closed

[2022-06-26 12:54] seifertm commented on #374
That is commendable, thank you :)

No, I ran `pytest`. I can reproduce the crash now.

Why does `async def runner()` need to be a coroutine? It does not require any `await`. Could it not be a regular synchronous function (e.g. `def runner()`)?

[2022-06-26 12:55] seifertm commented on #369
Thank you for the quick turnaround @mh7d!

[2022-06-26 13:24] PeterStolz commented on #374
In this simple proof of concept there is no need to call `pytest.main` within a coroutine, however the code I am working with is highly asynchronous and if there is a coroutine further up in the call stack you have the same problem. Therefore I had to run it in a new subprocess.

[2022-06-26 14:11] FarukOzderim commented on #371
Sorry for the inconveniences, thank you for looking into it.

[2022-06-27 13:03] ramnes opened #376 "How do I know if a test function is async?"
Hey there, thanks for the awesome work. :)

I'm trying to check if a function is async or not within `pytest_generate_tests`. I'm using `async_mode=auto` and I would like to keep it that way.

My first bet was to simply use `inspect.isawaitable(metafunc.function)`, but I quickly understood that pytest-asyncio wraps my async test functions into synchronous ones, which makes sense.

So the next thin

[2022-06-27 13:37] seifertm commented on #376
Unfortunately, there is currently no publicly supported way to inspect tests in the way you want.

I agree this is ubiquitous. The `asyncio` marker _is_ applied automatically during `pytest_pycollect_makeitem`. However, each marked coroutine is wrapped in a synchronous function in `pytest_pyfunc_call`. I'm not aware of the execution order for pytest hooks at the moment, sorry…

I think pytest-asyn

[2022-06-27 14:12] ramnes commented on #376
AFAIK, markers aren't set at the function level but at the node level, so wrapping the coroutine should have no effect on the markers. Am I wrong?

[2022-06-28 11:36] erny commented on #349
Thanks for reaching out again, sorry, I had not much time to check this out. As it works, specifying explicitly the "test" directory, it is not so urgente. I'll close it in the meanwhile due to missing activity. Thanks for your support. BR.

[2022-06-28 11:37] #349 closed

[2022-07-01 04:16] SamShao-crypto opened #379 "pytest.mark.asyncio with pytest.mark.parametrize may break async"
when i use pytest.mark.asyncio with pytest.mark.parametrize，the async logic break

[2022-07-01 04:16] SamShao-crypto commented on #379
- [ ]
<img width="980" alt="Screen Shot 2022-07-01 at 12 16 50 PM" src="https://user-images.githubusercontent.com/107017136/176822420-84ae3f7a-1edb-4434-9423-887ea87c1911.png">

[2022-07-01 04:18] SamShao-crypto commented on #379
total exhaust 6 sec，but expected lower than 6 （which is the time spending for serial）

[2022-07-04 11:26] mgorny commented on #293
I'm sorry this took so long but I've tested the packages that depend on pytest-asyncio in Gentoo today and the only one failing with this change is psycopg.

Perhaps we could add a USE flag that users could use to enable the new strict default for testing. CC @arthurzam, @thesamesam

<details><summary>Full list of packages tested</summary>

[code]
</details>

[2022-07-04 11:49] graingert commented on #293
@mgorny it looks like psycopg upstream has a fix already https://github.com/psycopg/psycopg/blob/13f15c3a5b472911ef6e17d645c2c54aee8bc675/pyproject.toml#L6

[2022-07-05 04:27] #288 closed

[2022-07-11 06:30] suharnikov commented on #112
I got the same issue today.
<details><summary>Code</summary>

[code]
</details>

[code]
[code]
<details><summary>Full output</summary>

[code]
</details>

[2022-07-11 13:31] hyansuper opened #383 "Running concurrent event loops"
To test the basic usage of [websockets](https://pypi.org/project/websockets/), I want to start a server and test the return string from client, I think server and client should be in separate thread.

The below code passed, but I just want to know if there's a proper/generalized way to do it?

[code]

[2022-07-12 20:50] #293 closed

[2022-07-13 05:08] mgorny commented on #293
Thanks for doing this!

[2022-07-18 06:37] chaokunyang opened #386 "pytest async fixture seems not work on linux-py3.7"
pytest async fixture seems not work on linux-py3.7 seems not work on linux python3.7
## Code
[code]
## Stacktrace
[code]

## System info
OS: fedora
Python version: 3.7.11
Pip list:
[code]

[2022-07-18 06:40] eirnym commented on #386
Could you please share your is details to reproduce the issue

[2022-07-18 06:42] chaokunyang commented on #386
Thanks for your quick reply, I added the `pip list` info, is there other details I can add? The test script work on my mac, but failed at linux.

[2022-07-18 09:04] chaokunyang commented on #386
Seems it's caused by pytest-asyncio==0.19, aftger downgrade it to 0.18, everything works fine:
![image](https://user-images.githubusercontent.com/12445254/179478910-acdf6c9b-6e82-4374-a9b9-4c5a3d44226e.png)

[2022-07-18 10:15] seifertm commented on #386
@chaokunyang pytest-asyncio uses `--asyncio-mode=strict` by default since v0.19. [Strict mode](https://github.com/pytest-dev/pytest-asyncio#strict-mode) ignores fixtures decorated with `@pytest.fixture`. You should use `@pytest_asyncio.fixture` instead (see [Async Fixtures](https://github.com/pytest-dev/pytest-asyncio#async-fixtures)).

Can you try this and report back, please?

[2022-07-18 19:07] seifertm commented on #383
I'm not aware of a better solution. asyncio is limited to at most one event loop per thread. This is by design. If you need concurrent event loops, you need to resort to multiple processes or multiple threads like you did.

You might be able to work around that using https://github.com/erdewit/nest_asyncio, but it should only be used for tests.

Does this answer you question?

[2022-07-18 19:11] seifertm commented on #379
This is the expected behavior. pytest-asyncio creates a synchronous wrapper function for each async test case. The tests do not run concurrently.

There's an existing feature request for tests that run concurrently. I'll close this in favor of #69. Feel free to continue the discussion there.

[2022-07-18 19:11] #379 closed

[2022-07-19 15:04] seifertm commented on #112
Thanks for the example @suharnikov. I managed to reproduce the error.

When a fixture is requested dynamically, it is looked up in pytest's fixture cache first. If it cannot be found in the cache pytest evaluates the fixture function. Since the async fixture coroutine has a synchronous wrapper around it that calls `loop.run_until_complete` that wrapper will fail to execute, because the event loop

[2022-07-19 18:56] seifertm commented on #112
A fix would require that the fixture wrapper can decide dynamically whether it is run asynchronously in an event loop or synchronously. However, the fixture wrapper itself needs to be synchronous, because that's what pytest expects. If an event loop is already running, the fixture wrapper needs to submit a task to the event loop and block execution until that task has finished.

I'm not aware of a

[2022-07-20 07:08] hyansuper commented on #383
thank you
I think it will be convenient if there’s a decorator to run async function in a separate  loop in its own thread, like

@pytest.mark.run_in_threaded_loop
async def test_server():
    ….

But i don’t know if it’s a very needed feature

[2022-07-20 07:20] chaokunyang commented on #386
thanks, `@pytest_asyncio.fixture` works

[2022-07-20 07:20] #386 closed

[2022-07-20 21:14] RonnyPfannschmidt commented on #69
this issue as proposed should be closed, its simply not sensible to have concurrent setupstate in a pytest session

having pytest itself be async supportive is a different can of beans and starts with making pluggy async-native (which would also be appreciated by projects like datasette)

[2022-07-22 03:00] viralmutant opened #390 "0.19.0: Fixture misses attribute"
I am working with `python3.10` and `pytest=7.1.2` version

It seems with the latest version of `pytest-asyncio=0.19.0` a regression has been introduced and this [bug](https://github.com/pytest-dev/pytest-asyncio/issues/89) is back.

Using the same [example testcase](https://github.com/JohanLorenzo/pytest-fixture-bug-3747) to reproduce the issue, I observe the same failure

[code]

Downgrading pyte

[2022-07-22 16:57] davidandreoletti commented on #390
@viralmutant

pytest-asyncio 0.19.0 enforce strict mode. People need to [update their fixture markers as described](https://github.com/pytest-dev/pytest-asyncio#strict-mode).

Env:  ```py38``` + ```purest 7.1.2``` +```pytest-asyncio=0.19.0```

[2022-07-22 17:12] graingert commented on #390
@viralmutant please show the output of the code when you run on python3.10 and pytest-asyncio==0.18.3

[2022-07-22 21:32] viralmutant commented on #390
Here is the output with `-s`

[code]

[2022-07-23 06:28] seifertm commented on #390
Your test output shows a deprecation warning about asyncio-mode. Starting with pytest-asyncio v0.19 asyncio mode defaults to strict. The error you're seeing is likely caused by wrong fixture decorators. The reproducible example you linked suffers from that exact problem.

As @davidandreoletti already mentioned you need to update your fixture definitions if you intend to use strict mode. Strict mod

[2022-07-24 15:59] seifertm commented on #69
@RonnyPfannschmidt Thanks for getting involved :) Could you elaborate on your comment?

What problems do you see with running tests concurrently in general? Could they not share a single SetupState instance?

What's the connection between running async tests concurrently and making pluggy async-native?

[2022-07-24 16:10] RonnyPfannschmidt commented on #69
Async pluggy is needed to manage function coloring within pytest

Concurrent pytest would have to create multiple sessions that each maintained a distinct Setupstate

Technically it wouldn't even matter if threads or async tasks where used

[2022-07-24 16:11] RonnyPfannschmidt commented on #69
Distinct sessions / collection is necessary as setupstates currently taint nodes (alltho it kinda can work in trivial cases)

[2022-07-26 04:42] viralmutant commented on #390
Yes, after replacing the fixture as `@pytest_asyncio.fixture` I didn't observe the issue with v0.19
Thanks

The confusing part is that once the version has been upgraded, it just fails and won't tell why. And while being at the earlier version, when a couple of thousand tests are running in CI pipeline, the warnings are ignored

[2022-07-27 09:15] ilnuru opened #394 "t"

[2022-07-27 09:38] #394 closed

[2022-08-17 17:52] kiddick commented on #390
Hi @seifertm

I am trying to use async_generator with fixture in factory mode:

[code]

But I get same error:
[code]

package versions:
[code]

[2022-08-17 17:55] kiddick commented on #390
just a fixture w/o factory works well
[code]

[2022-08-17 18:15] seifertm commented on #390
Interesting, thanks for the report. I'll look into it tomorrow.

[2022-08-17 18:24] graingert commented on #390
You can't use a yield inside an httpx.AsyncClient like that, you need the `@contextlib.asynccontextmanager`

[2022-08-18 09:54] kiddick commented on #390
@graingert it does not help in case with factory
[code]

similar error
[code]

although it works with fixture w/o factory

[code]

[2022-08-18 10:30] graingert commented on #390
You need to use `async with async_client_factory(1) as factory: ...`

[2022-08-19 19:11] DanCardin opened #399 "Intercompatibiility among pytest-asyncio versions for pytest-plugins"
I'm trying to debug some new test failures in a pytest-plugin (or two) we've written which can produce async fixtures

The two plugins are: https://github.com/schireson/pytest-mock-resources and https://github.com/schireson/pytest-alembic.

In particular, if you were to clone `pytest-alembic`, install dependencies, then upgrade `pytest-asyncio` to 0.17.0, you'd notice issues with the event_loop no

[2022-08-24 14:51] DanCardin commented on #399
After some more sleuthing, it seems like there were at least two problems. In newer versions, `pytest-mock-resources` needed to be using `pytest_asyncio.fixture` in order to work in strict mode, this was more obvious and has been fixed.

What's less obvious is that `pytest-alembic` continues to exhibit the same behavior regardless. It's perhaps important to note that it generates additional tests

[2022-08-25 17:11] seifertm commented on #69
I see, thanks for the explanation. As far as I understand it's pretty much impossible to run tests concurrently with the current way pluggy and pytest work. This is not something we can solve in pytest-asyncio.

If someone would like to push this feature forward, please get in touch with https://github.com/pytest-dev/pluggy to discuss ways to make pluggy async-native.

I'm closing this issue for n

[2022-08-25 17:11] #69 closed

[2022-08-25 17:31] seifertm commented on #390
@kiddick I cannot see anything wrong with the behaviour of pytest-asyncio in the example you provided [here](https://github.com/pytest-dev/pytest-asyncio/issues/390#issuecomment-1219288828). Your fixture returns the `_factory` async context manager. As Thomas mentioned you need to open the context manager using `asnyc with …`, in order to access the yielded `AsyncClient`.

From your reaction on th

[2022-08-25 17:31] #390 closed

[2022-08-25 18:11] seifertm commented on #399
This is more on gut feeling rather than me actually knowing what causes the issue…

But d8efa640f0aa1ba8856b908ba486150588018209 introduced a function called `_preprocess_async_fixtures` which evaluates fixtures. It is called in [pytest_pycollect_makeitem](https://github.com/pytest-dev/pytest-asyncio/blob/v0.19.0/pytest_asyncio/plugin.py#L326), whereas pytest-alembic [uses pytest hooks](https://gi

[2022-08-25 18:38] seifertm commented on #305
Runtime and test dependencies are pinned to ensure reproducible builds. Build dependencies are currently not pinned. While there seem to be ways to do it, it's not supported by `build` at the moment (see https://github.com/pypa/build/issues/292).

The current state should be good enough. Closing this for the time being.

[2022-08-25 18:38] #305 closed

[2022-08-27 15:56] sk- commented on #38
@Tinche what are the implications of the suggested workaround?

In our case we create an sqlalchemy async engine at the module level, and if we don't use this workaround tests will fail with different errors, including the dreaded `attached to a different loop`.

[2022-08-27 18:14] sk- opened #402 "Unexpected attached to a different loop errors"
We had a hard to debug issue when testing async sqlalchemy.

When running the following test

[code]

we would get two errors:

[code]

This is fixed by having a global event loop as suggested in https://github.com/pytest-dev/pytest-asyncio/issues/38#issuecomment-264418154. Should there maybe be a command line option to enable this?

I'm opening this issue, as the creator of `sqlalchemy` suggested

[2022-08-27 22:50] Tinche commented on #402
Using a single, global event loop is less than ideal tbh, your unit tests won't be independent of each other (so, won't be unit tests).

In your case here, I'd say make `engine` a fixture and have it depend on the `event_loop` fixture, but I realize that might be impossible for a non-toy example.

[2022-08-29 16:58] nphilipp opened #403 "Async test function gets skipped with `asyncio_mode = auto` and `@unittest.mock.patch.dict` decorator"
Hi!

In a PR for a project I'm working on, an async test method gets skipped with a `PytestUnhandledCoroutineWarning` even though `pytest-asyncio` is installed and `asyncio_mode` is `auto`. I poked at it for  while and found that this is because the method was decorated with `@unittest.mock.patch.dict(...)`. Here's a minimal reproducer which exposes the issue with Python 3.10.6, pytest-7.1.2, pyte

[2022-08-30 16:12] DanCardin commented on #399
mmm, thanks for pointing out that commit for me, i suppose i must have glossed over the removal of logic from `pytest_fixture_post_finalizer`, which is definitley going to be why it no longer resolves. I'll close the issue now, as support is definitely going to require changes on pytest-alembic's side.

 I've started drafting changes to pytest-alembic to produce tests in a hopefully more natural w

[2022-08-30 16:12] #399 closed

[2022-09-01 18:16] sanders41 commented on #403
This also happens when other marks are applied.

[code]

The test gets skipped with the same warning listed above when running `pytest -m integraton`

As above applying the decorator fixes it:

[code]

[2022-09-01 18:25] sanders41 commented on #403
On closer inspection after looking at this issue I see our tests that are skipped are also marked with a patch `@mock.patch("patched.function")`. We found a few marked as `@pytest.mark.integration` that didn't get skipped so it seems as though it is specific to patching.

[2022-09-06 16:58] seifertm commented on #403
When I did a test a couple of days ago I could reproduce the issue with `@mock.patch.dict`, but not `@mock.patch`. I found that `patch` performs some [special treatment](https://github.com/python/cpython/blob/6ac0f8f0d795bba678be56bd4b0bb9ae3fbedb15/Lib/unittest/mock.py#L1324-L1325) for coroutines, which `patch.dict` [does not](https://github.com/python/cpython/blob/6ac0f8f0d795bba678be56bd4b0bb9a

[2022-09-06 17:51] sanders41 commented on #403
In our code base it has been hard for me to track down the exact cause because it has shown up in some places I didn't expect and not in some I did. I know we do have `@mock.patch.dict` in places so that could be what is happening.

I looked into it some with `@mock.patch.dict` and saw the function no longer gets reported as an async function with `inspect` which seems to match up with what you fo

[2022-09-06 17:56] seifertm commented on #402
There has been a proposal to deprecate overrides of the event loop fixture in favour of pytest config options: https://github.com/pytest-dev/pytest-asyncio/issues/311#issue-1172199926

The proposal has been close in lieu of alternative solutions, namely aioloop-proxy. However, I'm a bit wary of integrating aioloop-proxy (see #312) when nobody except Andrew has access to the repository and the pypi

[2022-09-06 18:45] seifertm commented on #291
@unmade Does it solve the issue if you use [pytester.runpytest_subprocess](https://docs.pytest.org/en/7.1.x/reference/reference.html#pytest.Pytester.runpytest_subprocess) rather than `pytester.runpytest`?

[2022-09-16 07:19] seifertm opened #408 "Dedicated documentation artefact"
Pytest-asyncio's documentation currently lives it's README. Since the README should only contain the most relevant information about a project the current setup requires a balance between adding more documentation and having a bloated README.

The idea of this issue is to create a build process for a separate documentation artefact.

The documentation should be built using Sphinx and the result sh

[2022-09-16 07:45] seifertm opened #409 "Setup readthedocs and automated builds"
After we can build a static documentation site (#408) we can upload it to readthedocs. The upload should be performed automatically as part of each release.

This involves setting up the readthedocs project and extending the current GitHub Actions pipeline to build the docs and upload them. The project setup on readthedocs needs to be performed by one of the maintainers.

The [readthedocs tutorial

[2022-09-16 07:52] seifertm commented on #200
There are very few things that need to be solved for the corresponding PR to get merged. Hence I'm marking this as good first issue.

[2022-09-16 08:14] seifertm commented on #291
I can no longer reproduce the issue using the code in the linked repository with pytest-asyncio 0.19.0. I checked CPython 3.7 up to v3.10. Please reopen if you happen to run into this problem again.

[2022-09-16 08:14] #291 closed

[2022-09-16 08:56] seifertm commented on #358
I cannot reproduce any issue with autouse async generator fixtures. I tried with Python 3.10 and pytest-asyncio v0.18.3 as well as pytest-asyncio v0.19.0.

@RemiCardona Can you provide an example that reproduces the issue?

[2022-09-18 17:53] seifertm commented on #204
The issue is reproducible in v0.19.0.

[2022-09-25 08:57] seifertm commented on #204
The culprit seems to be the implementation of `pytest_pycollect_makeitem`. The function injects the `event_loop` and `request` dependencies into async fixture definitions.

The `pytest_pycollect_makeitem` hook calls `_preprocess_async_fixtures` which essentially reimplements part of pytest's FixtureManager to inject the `request` and `event_loop` argnames into async fixtures. Apparently it fails t

[2022-09-30 04:08] crypto-only commented on #291
How to config pytest to use [pytester.runpytest_subprocess](https://docs.pytest.org/en/7.1.x/reference/reference.html#pytest.Pytester.runpytest_subprocess)?

[2022-09-30 04:49] seifertm commented on #291
@crypto-only You'd only use `pytester` if you want to run pytest inside a test. This can be handy when you write a pytest plugin and want to test different configurations of the plugin.

Your example can be simplified by setting `asyncio_mode = auto` in `pytest.ini` and simply writing:
[code]

There is no need to use _pytester_ in your example.

[2022-09-30 08:16] crypto-only opened #413 "`Event loop is closed` in second test with aioredis connection"
## Requirements

`pip install aioredis==2.0.1`
There is redis server running at `127.0.0.1`.

## Code

`test_get2()` will raise `Event loop is closed` while `test_get()` will success. I guess event loop is closed after first test so saved `_redis_conn` can't connect to previous closed event loop.
I don't want to update connection logic in `Client` to create connection each time to just pass the te

[2022-09-30 08:24] crypto-only commented on #413
Temporally solve this by adding function fixture, is there a way to just  set `pytest` or `pytest-asyncio` to solve the problem?
[code]

[2022-10-02 08:25] seifertm commented on #413
pytest-asyncio creates a separate event loop for each `async def` test. The loop is closed at the end of every test case. As you suggested, the `Client._redis_conn` receives a reference to the event loop of `test_get` during the test run. When `test_get2` is run, `Client._redis_conn` still references the event loop of the previous test, which has been closed in the meantime.

If you have multiple

[2022-10-08 06:15] seifertm commented on #413
@crypto-only Have you had a chance to try extending the scope of the event loop fixture as I described in my previous post?

[2022-10-08 06:36] seifertm commented on #403
I opened a CPython issue regarding this: https://github.com/python/cpython/issues/98086

[2022-10-08 09:47] seifertm commented on #114
I can confirm that the provided example fails on CPython 3.7, but succeeds with CPython>=3.8 (tested on Linux x86_64).

CPython 3.7 will be end of life roughly 9 months from now (see [PEP 537](https://peps.python.org/pep-0537/)). Child watchers are currently being deprecated (see https://github.com/python/cpython/issues/94597) and are scheduled for removal in Python 3.14.

If you are affected by t

[2022-10-08 09:47] #114 closed

[2022-10-08 09:59] seifertm commented on #358
Since I cannot reproduce the behaviour and the OP has not responded in the last three weeks, I'll close the issue.

@RemiCardona feel free to reopen this issue, if you still run into problems.

[2022-10-08 09:59] #358 closed

[2022-10-08 13:07] tandav opened #422 "support `setup.cfg` for configuration"
I tried

[code]

and

[code]

and it didn't work. It still throws warning:

[code]

[2022-10-08 13:11] #422 closed

[2022-10-09 12:34] stillborn333 commented on #403
[![CI](https://github.com/dguo/make-a-readme/actions/workflows/ci.yaml/badge.svg?branch=master)](https://github.com/dguo/make-a-readme/actions/workflows/ci.yaml)

[2022-10-11 09:10] erny commented on #349
Thanks for your quick response.
The first thing: consider this issue as low priority.

The second thing: the issue is about the difference of invoking "pytest"
with or without argument, i.e. it may be a pytest issue, not of
pytest-asyncio. It's like the event_loop (in contest.py) is not applied at
the correct moment. I don't know what difference it makes in fixture
provisioning for both cases.

I'

[2022-10-14 22:01] Dreamsorcerer opened #426 "Warning not getting raised within test"
When running pytest on aiojobs, I get a warning printed out in the output, but it fails to trigger anything in the test that caused it. We have warnings set to error, so this should result in a test failure. As far as I can tell, the warning appears to be happening outside the test run, even though it is clearly something that was caused inside the test.

I've tried to reproduce it without the aio

[2022-10-17 16:12] seifertm commented on #426
Thanks for the report. I believe you couldn't get a minimal reproducible example, because the behaviour is non-deterministic. I tried as well. I started with the aiojobs repository and removed pieces of code. Eventually I ended up with this:
[code]

Pytest didn't show a warning in the report, but the console clearly printed a warning:
[code]

When I changed the test name to `test_warns_about_unawa

[2022-10-17 17:16] seifertm commented on #426
It seems that `asyncio.create_task` results in a task object with a ridiculous amount of references, even when it raises a RuntimeError. Compare this two distinct function calls to `loop = asyncio.get_running_loop()` and a subsequent `loop.create_task(my_task())`:

[code]

The above code prints:
[code]

I assume that the task generally outlives the pytest session, because it is still referenced so

[2022-10-17 19:11] Dreamsorcerer commented on #426
That does seem like an awful lot. The first example just creates a coroutine object though, without scheduling it in the event loop, so it obviously wouldn't have references elsewhere.

[2022-10-19 13:03] nuno-andre commented on #402
FWIW. I get the `Future <Future pending> attached to a different loop` exception when changing the suggested fixture:

[code]

with

[code]

_(Yep. This is only for replacing `event_loop.run_until_complete` with `run_in_loop` 🦥)._

I don't know if this is an expected session-fixture behaviour that I don't understand or could be a bug.

Happy to open a new issue if this is a bug but it's not relate

[2022-10-21 06:48] seifertm commented on #413
Closing this due to inactivity of the OP.

@crypto-only if you have time to try the above fix, I'd very much appreciate your feedback. If the issue is not resolved for you, please reopen this issue.

[2022-10-21 06:48] #413 closed

[2022-10-21 06:54] seifertm commented on #426
I agree, the comparison is wrong. The day was long… :)

[2022-10-21 07:55] seifertm commented on #426
There has been work in pytest to correctly treat warnings like the one reported: https://github.com/pytest-dev/pytest/issues/8021

Pytest tries to catch these warnings with the [_unraisableexception_ plugin.](https://docs.pytest.org/en/7.1.x/how-to/failures.html?highlight=unraisableexception#warning-about-unraisable-exceptions-and-unhandled-thread-exceptions).

I could see a difference when runnin

[2022-10-21 08:12] seifertm commented on #426
I managed to create a reproducible example and reported the bug to upstream:
https://github.com/pytest-dev/pytest/issues/10404

[2022-10-21 08:12] #426 closed

[2022-10-21 08:49] seifertm commented on #402
@nuno-andre pytest-asyncio injects the fixture with the name `event_loop` into every async test case. If you create another fixture named `run_in_loop` and use it in a test, the corresponding test will evaluate both fixtures. Since both fixtures—event_loop and run_in_loop—create a new event loop, the warning is to be expected.

If you want to have a session-wide event loop, do override the `event_

[2022-10-21 09:07] seifertm opened #429 "Deprecated set-state in CI"
The GitHub action `aio-libs/prepare-coverage` uses the deprecated `set-state` command. Set-state has been [deprecated](https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/), so we should adjust the pipeline to get rid of the warning.

[2022-10-21 10:02] seifertm commented on #349
@erny if you suspect a problem with the fixture setup, you can try adding the `--setup-show` command-line option to pytest. It will print when a specific fixture is setup up and torn down. You can test your theory by comparing the different pytest runs.

[2022-10-21 10:48] flaeppe opened #430 "DeprecationWarning for pytest <7 is emitted on 0.20 with `pytest >= 7`"
Seems that #420 adds a check for:

[code]

Although that module has no `__version_tuple__` attribute, so the fallback value is used:

[code]

Raises:

[code]

---

[code]

[2022-10-21 12:11] seifertm commented on #430
@flaeppe Thanks for the report. Can you verify if the patch provided in #431 works for you?

[2022-10-21 12:16] seifertm commented on #430
You can install the patch with the command:
`$ pip install --upgrade git+https://github.com/seifertm/pytest-asyncio@silence-deprecation-warning-when-using-pytest-7`

[2022-10-21 12:46] #430 closed

[2022-10-21 15:36] flaeppe commented on #430
It works. Thanks for the fast resolution

[2022-10-22 23:22] Dreamsorcerer commented on #426
Thanks for delving into that in such depth.

[2022-10-23 05:42] AllSeeingEyeTolledEweSew opened #433 "`ResourceWarning: unclosed event loop` with `@unittest.skip()` and pytest-asyncio>=0.20.0"
The following happens with version 0.20.0 and 0.20.1, but I've confirmed it doesn't happen with 0.19.0.

It doesn't happen with `--asyncio-mode=strict`.

It seems to be required to run a passing test first, followed by a test marked with `@unittest.skip()`.

[code]
[code]

[2022-10-24 13:35] seifertm commented on #433
Thanks for reaching out and for providing an minimal example.

You won't like my answer, but [unittest is currently unsupported](https://github.com/pytest-dev/pytest-asyncio#note-about-unittest) in pytest-asyncio.

Can you elaborate your use case? Why are using pytest-asyncio and unittest.IsolatedAsyncioTestCase?

[2022-10-25 01:16] AllSeeingEyeTolledEweSew commented on #433
I started out using unittest, but have been migrating my test suite to pytest. I've been using pytest-asyncio with `asyncio_mode=auto` for some time.

I didn't notice it was unsupported :) my tests seem to have been running fine prior to 0.20.0. Perhaps I have some false-passing tests.

Thanks for the reply though. I'll just pin to 0.19.0 until I migrate the rest of my tests.

[2022-10-25 01:16] #433 closed

[2022-10-27 04:05] matthew-at-qamcom opened #435 "Cleaning up pending tasks"
I'm extremely new to asyncio, so my apologies if this is obvious.  If I've made an error, I'd love an explanation.

I was receiving the error `Task was destroyed but it is pending!`, even though all my tests were passing.  My tests were basically (1) create web service (2) test API functionality using `aiohttp`, for example:

[code]

I was able to resolve this with a tear down function (inspired b

[2022-10-27 12:05] Arseniy-Popov commented on #297
This workaround seems to work fine:
[code]

[2022-10-27 20:05] matthew-at-qamcom commented on #435
This issue feels similar to #200 and #309.

[2022-10-30 09:28] keu commented on #77
@seifertm is there any workaround to make it work with pytest? To me, it is weird to use unittest functionality with pytest plugin, as `pytest.fixture`s don't work with unittest tests.

[2022-11-01 11:29] seifertm commented on #435
This is certainly not obvious and your question is very valid.

At the moment, there's no "official" way to clean up tasks after a test finishes. Your approach seems to be a reasonable workaround for now.

I'll mark this as a duplicate of #200.

[2022-11-01 11:29] #435 closed

[2022-11-01 21:29] matthew-at-qamcom commented on #435
Thanks for your response.  It's greatly appreciated.

[2022-11-06 15:45] mjpieters commented on #197
I came here to report this same bug.

Pytest resolves fixtures that are *bound methods* by using the `_pytest.fixtures.resolve_fixture_function()` utility function, which looks for `request.instance` (where `request` is a `FixtureRequest` instance). If that attribute is set, it'll check if `__self__` exists on the fixture and if the type of `__self__` is compatible with the instance (`isinstance(r

[2022-11-10 06:26] seifertm commented on #197
Thank you for the great explanation of the root cause!

[2022-11-11 14:43] frenzymadness opened #443 "New release"
Hello.

Do you plan to release a new version? The compatibility with pytest 7.2.0 is very useful for me.

[2022-11-11 15:28] #197 closed

[2022-11-11 15:59] seifertm commented on #443
pytest-asyncio v0.20.2 has been released, which gets rid of some deprecation warnings raised by pytest v7.2.

I encourage you to continue asking about releasing merged changes in the future. Sometimes that reminder is necessary :) I would appreciate, if you could do that in the corresponding PR or in a discussion, instead of creating a new issue, though.

[2022-11-11 15:59] #443 closed

[2022-11-18 06:20] chris1248 opened #447 "Unit tests work fine when run separately, but fails when run together with pytest with Event loop is closed"
I have written some unit tests, that use Redis in an asynchronous fashion (async/await). When I run each test individually it works fine. But when I run all the tests together using pytest (say from the command line), It fails with a spectacularly giant callstack dump. :( :(

[code]

I have boiled down the code to one file that fully demonstrates the problem and put in on github here:
https://gith

[2022-11-18 06:25] seifertm commented on #447
I see you're using _IsolatedAsyncioTestCase_. As of now, pytest-asyncio [does not support unittest](https://github.com/pytest-dev/pytest-asyncio#note-about-unittest).

You have created a nice reproducer, though. I might as well look into what's missing to support unittest.

[2022-11-18 06:28] chris1248 commented on #447
@seifertm Thanks for the quick reply. I thought it would make things nicer to help people reproduce the problem.
Now if you say that IsolatedAsyncioTestCase is not supported, that would be a surprise to me. Since it was not very clear on your Readme if that was the case or not. But I can re-arrange my tests accordingly.

[2022-11-18 13:30] chris1248 commented on #447
You know, I'm not even using pytest-asyncio in my tests, so perhaps this place is the wrong place to log this issue in the first place. If that is the case, where do I log this issue?

[2022-11-18 14:03] chris1248 commented on #447
I have fixed the issue with my tests, which can be seen in the git repo link above. And for the record, I'm not using pytest-asyncio. This was the wrong git repo to log the issue in. (I don't know the correct git repo either, as I don't know where to report issues with the main python library).

[2022-11-18 14:03] #447 closed

[2022-11-21 06:25] seifertm commented on #447
Glad to hear you could get your code running.
… And that this isn't an issue with pytest-asyncio :)

The correct repository to file bugs against the Python interpreter and the standard library is https://github.com/python/cpython

[2022-11-23 08:39] Sebadst commented on #286
@seifertm isn't this a breaking change? Why is it not marked as such? 😕
I don't even see references about it in the [changelog](https://github.com/pytest-dev/pytest-asyncio/blob/master/CHANGELOG.rst#0170-22-01-13)

[2022-11-23 09:28] seifertm commented on #286
@Sebadst pytest-asyncio v0.17 introduced three modes (auto, strict, and legacy) which provide different ways fixtures and tests are discovered by pytest-async. The default mode for v0.17 is _legacy_ which is backwards compatible. Legacy mode raised a warning to notify users about the behaviour change and encouraged them to migrate to either auto or strict mode.

pytest-asyncio v0.19 was released 6

[2022-11-28 19:03] Sebadst commented on #286
Thanks a lot for the thorough explanation, it makes sense to me!